mixin doctorCrad(img, name,txt, num)
	//card
	.doctor-card.doctor-card--short
		//CARD LEFT
		.doctor-card__img
			img.cover-img(src='./img/team/'+img+'.webp', srcset='./img/team/'+img+'@2x.webp' width='400' height='550' loading='lazy' alt='img')
		//CARD CENTER
		.doctor-card__profile
			.doctor-card__profile-group
				.doctor-card__title
					.title-26 !{name}
					ul.doctor-card__list
						li
							span Должность:
							p #{txt}
						li
							span Стаж
							p #{num} лет
						li
							span Свидетельство об аккредитации:
						
							p №103724 142571
							p Стоматология хирургическая. Действителен до 04.07.27
				
				
				a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-about").video-slim-btn.sm-100
					p узнать о враче
					span.btn-play

				
//TEAM
section.team.team-slider
	.container-special
		.left-decore-line
			p.txt-primary 02/07
			span.fake-line
			p наши врачи
		
		.header-block
			h2.h2 Для вас&nbsp;работают опытные профессионалы
			a(href="#!").btn-primary.hide-sm 
				span Все врачи
				svg.svg-rarr
					use(href='./img/sprite.svg#svg-rarr')

		.team-short-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					//Card
					+doctorCrad(5,'Лейла Ахмедовна Бейноева','Стоматолог – терапевт, эндодонтист', 3)
				.swiper-slide
					//Card
					+doctorCrad(2,'Чермен Олегович Дегоев','Стоматолог – терапевт, эндодонтист', 9)
				.swiper-slide
					//Card
					+doctorCrad(4,'Чермен Олегович Дегоев','Стоматолог – терапевт, эндодонтист', 9)
			
			.team-short-nav.flex-nav
				button.arrow-prev
					svg.svg-rarr
						use(href='./img/sprite.svg#svg-rarr')
				button.arrow-next
					svg.svg-rarr
						use(href='./img/sprite.svg#svg-rarr')
			
		
		
				