section.testimonial.testimonial--inner.has-absBtn
	.container-special
		.left-decore-line
			p.txt-primary 06/07
			span.fake-line
			p Истории наших клиентов 
		
		.header-block
			h2.h2 Отзывы клиентов 
			.about-review-nav.flex-nav.abs-btn
				button.arrow-prev
					svg.svg-rarr
						use(href='./img/sprite.svg#svg-rarr')
				button.arrow-next
					svg.svg-rarr
						use(href='./img/sprite.svg#svg-rarr')
		
		
		
		.about-review.swiper
			.swiper-wrapper
				.swiper-slide.testimonial-box
					.testimonial-card
						.testimonial-card__body
							.testimonial-card__title
								p Вера Павловна Твердохлебова
								span Преподаватель музыки
							
							.testimonial-card__txt
								p Мне понравился главный врач стоматологии "Нью Лайн Дент", мне понравилось его отношения с&nbsp;молодыми коллегами к пациенту. Здесь мне решили проблемы, которые не&nbsp;смогли решить в другой стоматологии. В будущем я могу расчитывать на эту клинику. Именно того, что мне предложил Карен Овсепович мне никто не предлагал.
							
							.rating-block
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star.rating-star.disable
				
				.swiper-slide.testimonial-box
					.testimonial-card
						
						.testimonial-card__body
							.testimonial-card__title
								p Бердников Максим
								span Генеральный директор OOO "Стройс+
							
							.testimonial-card__txt
								p Посетив стоматологию, главный врач Карен Овсепович быстро разобрался в ситуации, поменял полностью конструкцию импланта, который меня беспокоил. 
							
							.rating-block
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star.rating-star.disable

				.swiper-slide.testimonial-box
					.testimonial-card
						.testimonial-card__body
							.testimonial-card__title
								p Бердникова Лариса
								span Генеральный директор OOO "Стройс+
							
							.testimonial-card__txt
								p Я вспоминаю тот прекрасный момент, когда я впервые встретила Карена Овсеповича Даниеляна и он расположил меня с первой минуты. Самое главное, что он выслушал мою ключевую потребность 
							
							.rating-block
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star.rating-star.disable
				
				.swiper-slide.testimonial-box
					.testimonial-card
						.testimonial-card__body
							.testimonial-card__title
								p Бердников Максим
								span Генеральный директор OOO "Стройс+
							
							.testimonial-card__txt
								p Посетив стоматологию, главный врач Карен Овсепович быстро разобрался в ситуации, поменял полностью конструкцию импланта, который меня беспокоил. Уже несколько лет не знаю проблем с этим зубом. Теперь у меня лечится вся семья, дети, сотрудники и друзья. Очень профессиональный и заботливый подход.
							
							.rating-block
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star.rating-star.disable

				
				.swiper-slide.testimonial-box
					.testimonial-card
						.testimonial-card__body
							.testimonial-card__title
								p Бердникова Лариса
								span Генеральный директор OOO "Стройс+
							
							.testimonial-card__txt
								p Я вспоминаю тот прекрасный момент, когда я впервые встретила Карена Овсеповича Даниеляна и он расположил меня с первой минуты. Самое главное, что он выслушал мою ключевую потребность и все мои страхи. Он выслушал это так, как-будто это единственная проблема в мире и она - моя!
							
							.rating-block
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star.rating-star.disable
		

		a(href="#!").btn-primary.show-more-btn Показать больше 