.promo-special
	.container
		.breadcrumbs-wrapper
			ul.breadcrumbs
				li
					a(href="index.html") Newlinedent
				li
					a(href="service-page.html") услуги
				li
					a(href="#!") профессиональная  гигиена полости рта
	
	.promo-special-wrapper
		.container
			.promo-special-grid
				.promo-special-text
					h1.title-36.txt-upper Профессиональная гигиена полости рта
					.promo-subtitle
						p Врачи экспертного уровня
						p За 9 лет установили более 30 000 имплантатов
						p Помогаем в сложных случаях
						
					.text-card
						p.txt-primary Ближайшее время для записи на&nbsp;консультацию
						p Курская
						p Завтра, 02 декабря, в 12:30
							
					.promo-buttons.flex
						button.btn-primary Записаться на прием 
							svg.svg-rarr
								use(href='./img/sprite.svg#svg-rarr')
				
				.rotate-image__group.image-count-2
					.rotate-image.rotate-image1
						img(src='./img/rotate/13.webp' width='263' height='288' loading='lazy' alt='img')
						.flex
							span.img-logo
							
					.rotate-image.rotate-image2
						img(src='./img/rotate/14.webp' width='263' height='288' loading='lazy' alt='img')
						.flex
							span.img-logo
					
				.promo-product-cards
					//card
					.product-card.product-card--short
						.product-card__top
							.flex
								.product-card__img
									img(src='./img/service/serv12.svg'  width='70' height='73' loading='lazy' alt='img')
								.product-card__col
									.product-card__title ASTRA<br>TECH
									.time-element 1,5ч 
						
						.product-card__price
							p 99 500 &#8381;
					//card
					.product-card.product-card--short
						.product-card__top
							.flex
								.product-card__img
									img(src='./img/service/serv12.svg'  width='70' height='73' loading='lazy' alt='img')
								.product-card__col
									.product-card__title ASTRA<br>TECH
									.time-element 1,5ч 
						
						.product-card__price
							p 99 500 &#8381;
					//card
					.product-card.product-card--short
						.product-card__top
							.flex
								.product-card__img
									img(src='./img/service/serv12.svg'  width='70' height='73' loading='lazy' alt='img')
								.product-card__col
									.product-card__title ASTRA<br>TECH
									.time-element 1,5ч 
						
						.product-card__price
							p 99 500 &#8381;
							.txt-primary
								span 8 300 ₽ / мес
								span 0% / 1 год
					
	//bottom row
	.promo-bottom.flex
		.container
			.promo-bottom-content.flex.mobile-swipe
				ul.flex
					li цены под ключ
					li возможна росрочка
					li онлаин консультации
					li подарочные сертикаты