.promo-special
	.container
		.breadcrumbs-wrapper
			ul.breadcrumbs
				li
					a(href="index.html") Newlinedent
				li
					a(href="service-page.html") услуги
				li
					a(href="#!") профессиональная  гигиена полости рта
	
	.promo-special-wrapper
		.container
			.promo-special-grid
				.promo-special-text
					h1.title-36 Эффективное и безопасное отбеливание зубов
					.promo-subtitle
						p Эффективное отбеливание до 8 тонов за 1 сеанс
						p Безопасно для эмали и мягких тканей
						p Безболезненная процедура
						
					.text-card
						p.txt-primary Ближайшее время для записи на консультацию
						p Курская
						p Завтра, 02 декабря, в 12:30
							
					.promo-buttons.flex
						button.btn-primary Записаться на прием 
							svg.svg-rarr
								use(href='./img/sprite.svg#svg-rarr')
				
				.rotate-image__group.image-count-2
					.rotate-image.rotate-image1
						img(src='./img/rotate/15.webp' width='263' height='288' loading='lazy' alt='img')
						.flex
							span.img-logo
							
					.rotate-image.rotate-image2
						img(src='./img/rotate/16.webp' width='263' height='288' loading='lazy' alt='img')
						.flex
							span.img-logo
					
				.promo-product-cards
					//card
					.product-card
						.product-card__top
							.flex
								.product-card__img
									img(src='../img/service/serv12.svg'  width='70' height='72' loading='lazy' alt='img')
								.product-card__col
									.product-card__title Отбеливание Opalescence
									.time-element 30 минут 
							p Что входит в процедуру:
							ol
								li с учетом анестезии, удаления зуба, удаления зуба, 
								li наложения швов
								li наложения швов
								li наложения швов
						
						.product-card__price
							p 3 000 &#8381;
							

					.bonus-card.flex
						img(src='../img/service/serv10.svg'  width='70' height='73' loading='lazy' alt='img')
						.product-card__title В подарок идет зубной набор 
						
	//bottom row
	.promo-bottom.flex
		.container
			.promo-bottom-content.flex.mobile-swipe
				ul.flex
					li цены под ключ
					li возможна росрочка
					li онлаин консультации
					li подарочные сертикаты