.statistic-block
	.statistic-group.statistic-group--first
		.statistic-item
			.h1 15000
			p Счастливых<br>пациентов

	.statistic-group.flex
		.statistic-item
			.h1 2000
			p Положительных<br>отзывов
		
		
		.statistic-item
			.h1 10
			p Опытных<br>врачей
	
	.statistic-group.flex-col
		.statistic-item
			.h1 2012
			p Работает<br>наша клиника
		.statistic-item
			.h1 13
			p Лет нашему<br>делу