mixin blogCard
	.card-border-box&attributes(attributes)
		.blog-card
			.blog-card__img
				img(src='./img/blog/blog-card.webp', srcset='./img/blog/blog-card@2x.webp 2x' width='478' height='314' loading='lazy' alt='img')
			.blog-card__body
				.tags-box.flex
					.border-tag Импланты
					
				.blog-card__title Протезирование зубов в Москве
				p Это востребованная услуга, которая позволяет восстановить функциональность и эстетику улыбки. Современные стоматологические клиники предлагают широкий спектр решений...
			.blog-card__link
				a(href="single-article.html").flex-link
					span Читать статью 
					svg.svg-rarr
						use(href='./img/sprite.svg#svg-rarr')


section.blog-content
	.container
		.blog-tabs.tabs-group
			ul.tabs__nav.flex
				li.tabs__nav-btn.flex(data-tbat="all") Все
				
				li.tabs__nav-btn.flex(data-tbat="2") Терапия
				li.tabs__nav-btn.flex(data-tbat="3") Хирургия
				li.tabs__nav-btn.flex(data-tbat="4") Ортодонтия
				li.tabs__nav-btn.flex(data-tbat="5") Ортопедия
				li.tabs__nav-btn.flex(data-tbat="6") Гигиена
					
			
			.tabs__content-container
				//TAB #1. Этот блок имеет скрытые карточки и кнопку Показать ещею Поэтому такйо блоку имеет класс .has-hide-cards. По клику на кнопку внутри этого блока через скрипт у карточек с классом hide-card снимается класс d-none, а на кнопке меняется текст Показать меньше. При повторном клике - все возвращается обратно
				.tabs-content.active.has-hide-cards(data-tcontent="all")
					.blog-cards-wrapper
						+blogCard
						+blogCard
						+blogCard
						+blogCard
						+blogCard
						+blogCard
					//FEEDBACK
					.feedback__content.flex.p-block-80
						.feedback__txt
							p.txt-16 Оставьте заявку
							.title-22 Получите скидку на первое посещение и бесплатную консультацию.
							.social-block
								a(href="#!").social-link
									svg.svg-inst
										use(xlink:href='./img/brands.svg#instagram')
								a(href="#!").social-link
									svg.svg-wa
										use(xlink:href='./img/brands.svg#whatsapp')
								a(href="#!").social-link
									svg.svg-tg
										use(xlink:href='./img/brands.svg#telegram')

						.feedback__center
							.gogol-text всегда  #[span.smile-icon] на связи
						.feedback__form
							form.contact-form.flex-col
								
								.form-item
									span.fake-placeholder Имя
									input.form-input(type="text" name="name")
								.form-item
									span.fake-placeholder Телефон
									input.form-input(type="tel" name="phone")
								.form-btn.flex
									button.btn-primary(type="submit")
										span Оставить заявку 
										svg.svg-rarr
											use(href='./img/sprite.svg#svg-rarr')
									p.agree-txt Нажимая на кнопку «Отправить», я даю согласие на&nbsp;обработку персональных данных
					.blog-cards-wrapper
						//CARDS
						+blogCard
						+blogCard
						+blogCard
						+blogCard(class="d-none hide-card")
						+blogCard(class="d-none hide-card")
						+blogCard(class="d-none hide-card")
						+blogCard(class="d-none hide-card")
						+blogCard(class="d-none hide-card")
						+blogCard(class="d-none hide-card")
					.tabs-content__footer.flex
						a(href="#!" data-target="show-more").btn-primary.sm-100 Показать больше
						.pagination
							.pagination-item.pagination-prev
								svg.svg-larr
									use(href='./img/sprite.svg#svg-larr')
								span Назад
							.pagination-item
								span 1
							.pagination-item.pagination-active
								span 2
							.pagination-item.pagination-dot
								span
							.pagination-item.pagination-dot
								span
							.pagination-item
								span 11
							.pagination-item
								span 12
							.pagination-item.pagination-next
								span Вперед
								svg.svg-rarr
									use(href='./img/sprite.svg#svg-rarr')