.promo-blog(style="background-image: url(./img/blog/promo-img.webp)")
	.container
		.breadcrumbs-wrapper
			ul.breadcrumbs
				li
					a(href="#!") Newlinedent
				li
					a(href="blog.html") блог
	
	.promo-blog-wrapper
		.container
			.article-card
				.tags-box.flex
					.border-tag Импланты 
					.border-tag 7 минут чтения 
				.article-card__title Протезирование зубов в&nbsp;Москве
				.article-card__img
					img(src='./img/blog/img1.webp', srcset='./img/blog/img1@2x.webp 2x' width='322' height='144' loading='lazy' alt='img')
				.article-card__txt
					p Лечение зубов всегда начинается с комплексной диагностики, позволяющей поставить точный диагноз, установить причины, приведшие к появлению той или иной проблемы с зубами, и выбрать эффективную технологию ее устранения.
				.article-card__link
					a(href="blog.html").flex-link
						svg.svg-larr
							use(href='./img/sprite.svg#svg-larr')
						span вернуться
