include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Цветовая схема

				.container-dashboard__content(style="background: #B9B1A6")
					.social-block
						a(href="#!").social-link
							img(src="../img/social/inst.svg", width="24" height="24" alt="img")
						a(href="#!").social-link
							span IN
						a(href="#!").social-link
							span BE
				br
				.address-block
					.address-block__metro
						svg.svg-metro
							use(href='../img/sprite.svg#svg-metro')
						p Новочеркасская
					.address-block__info
						p ул. Стахановцев, д. 6
						p пн-вс: 9:00 — 21:00

				br
				
				.step-card
					span.step__num 01
					.step__img
						img(src='./img/steps/1.webp', srcset='./img/steps/1@2x.webp 2x' width='157' height='161' loading='lazy' alt='img')
					.step__title