include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Цветовая схема

				.container-dashboard__content(style="background: #B9B1A6")
					.social-block
						a(href="#!").social-link
							svg.svg-inst
								use(xlink:href='./img/brands.svg#instagram')
						a(href="#!").social-link
							svg.svg-wa
								use(xlink:href='./img/brands.svg#whatsapp')
						a(href="#!").social-link
							svg.svg-tg
								use(xlink:href='./img/brands.svg#telegram')
				br
				.address-block
					.address-block__metro
						svg.svg-metro
							use(href='../img/sprite.svg#svg-metro')
						p Новочеркасская
					.address-block__info
						p ул. Стахановцев, д. 6
						p пн-вс: 9:00 — 21:00

				br
				
				.step-card
					span.step__num 01
					.step__img
						img(src='./img/steps/1.webp', srcset='./img/steps/1@2x.webp 2x' width='157' height='161' loading='lazy' alt='img')
					.step__title
				
				br
				.serv-card
					.serv-card__top.flex
						.serv-card__title
							.title-26 Консультация и диагностика
							p Хирургическое лечение и удаление зубов
						.serv-card__img
							img(src='./img/service/serv1.svg' width='101' height='105' loading='lazy' alt='img')
					
					
					.accordion-group
						.accordion-header.flex
							p Услуги направления
							span
							.acc-icon
						.accordion-body
							a(href="").service-link
								span Что такое отбеливание зубов и какие бывают виды?
							a(href="").service-link
								span Что такое отбеливание зубов и какие бывают виды?
							a(href="").service-link
								span Что такое отбеливание зубов и какие бывают виды?
							a(href="").service-link
								span Что такое отбеливание зубов и какие бывают виды?

				br
				.text-card
					p.txt-primary Ближайшее время для записи на консультацию
					p Курская
					p Завтра, 02 декабря, в 12:30
				

				br
				//card
				.product-card.product-card--short
					.product-card__top
						.flex
							.product-card__img
								img(src='../img/service/serv1.svg'  width='70' height='73' loading='lazy' alt='img')
							.product-card__col
								.product-card__title Протез Акри-Фри
								.time-element 30 минут 
					
					.product-card__price
						p 99 500 &#8381;
				//card
				.product-card.product-card--short
					.product-card__top
						.flex
							.product-card__img
								img(src='../img/service/serv1.svg'  width='70' height='73' loading='lazy' alt='img')
							.product-card__col
								.product-card__title Протез Акри-Фри
								.time-element 30 минут 
					
					.product-card__price
						p 99 500 &#8381;
				//card
				.product-card.product-card--short
					.product-card__top
						.flex
							.product-card__img
								img(src='../img/service/serv1.svg'  width='70' height='73' loading='lazy' alt='img')
							.product-card__col
								.product-card__title Протез Акри-Фри
								.time-element 30 минут 
					
					.product-card__price
						p 99 500 &#8381;
				br
				.product-card
					.product-card__top
						.flex
							.product-card__img
								img(src='../img/service/serv1.svg'  width='70' height='73' loading='lazy' alt='img')
							.product-card__col
								.product-card__title Протез Акри-Фри
								.time-element 30 минут 
						p (с учетом анестезии, удаления зуба, наложения швов)
					
					.product-card__price
						p 3 000 &#8381;

				.product-card
					.product-card__top
						.flex
							.product-card__img
								img(src='../img/service/serv1.svg'  width='70' height='72' loading='lazy' alt='img')
							.product-card__col
								.product-card__title Протез Акри-Фри
								.time-element 30 минут 
						p Что входит в процедуру:
						ol
							li с учетом анестезии, удаления зуба, удаления зуба, 
							li наложения швов
							li наложения швов
							li наложения швов
					
					.product-card__price
						p 3 000 &#8381;
						.txt-primary
							span 8 300 ₽ / мес
							span 0% / 1 год

				.bonus-card.flex
					img(src='../img/service/serv10.svg'  width='70' height='73' loading='lazy' alt='img')
					.product-card__title В подарок идет зубной набор 
				
				.implant-card
					.implant-card__top.flex
						.implant-card__title
							.implant-card__logo
								img(src='../img/service/implant-logo.webp', srcset='../img/service/implant-logo@2x.webp 2x' width='141' height='37' loading='lazy' alt='img')
							.title-20 ASTRA TECH
							p Швеция
						.implant-card__img
							img(src='../img/service/implant.webp', srcset='../img/service/implant@2x.webp 2x' width='157' height='128' loading='lazy' alt='img')
					
					.implant-card__footer
						.implant-card__footer-top
							p.txt-primary Рассрочка:
							.flex
								p.txt-bold 8 300 ₽ / мес
								p.txt-bold 0% / 1 год
						
						.implant-card__price
							p 99 550 ₽