@use "../base/var" as *;
.before-after{
	padding-top: 10px;
	border-top:1px solid #b9b1a6;
	padding-bottom: 80px;
	position: relative;
	overflow: hidden;
	&:after{
		content:'';
		position: absolute;
		display: block;
		bottom: 50%;
		transform: translateY(50%);
		right: 0;
		border: 2px solid #b9b1a6;
		border-right: 0;
		border-radius: 232px 0 0 232px;
		width: 1300px;
		height: 464px;
		z-index: 1;
		@media (max-width: 1919px) {
			width: remy(1240);
			height: remy(464);
		}
		@media (max-width: 767px) {
		display: none;
		}
	}
	
}
.tabs__content-container{
	// padding-top: 80px;
	.before-after__right{
		padding-top: 70px;
		flex-grow:1;
	}
	@media (max-width: 1919px) {
		// padding-top: remy(80);
		.before-after__right{
			padding-top: remy(70);
		}
	}
	@media (max-width: 767px) {
		padding-top: 0;
		.before-after__right{
			padding-top: 0;
		}
	}
}
.before-after-wrapper{
	display: flex;
	column-gap:130px;
	padding-top: 80px;
	.before-after__left{
		flex-shrink: 0;
		position: relative;
	   z-index: 2;
	}
	@media (max-width: 1919px) {
		column-gap:remy(100);
		padding-top: remy(80);
	}
	@media (max-width: 767px) {
	flex-direction: column-reverse;
	row-gap: 40px;
	padding-top: 40px;
	&>*{width: 100%;}
	}
}
.before-after__right{
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 2;
	.rotate-image__group{
		display: flex;
		width: 100%;
		.rotate-image{
			flex-shrink: 0;
			.flex{bottom: 7px;}
			img{
				width: 498px;
				height: 358px;
				object-fit: cover;
				@media (max-width: 1919px) {
					width: remy(498);
					height: remy(358);
				}
			}
			.img-caption--name{
				font-family: var(--second-family);
				font-weight: 300;
				font-size: 28px;
				line-height: 66%;
				@media (max-width: 1919px) {
					font-size: remy(28);
				}
			}
			.img-logo{
				width: 186px;
				height: 30px;
				@media (max-width: 1919px) {
					width: remy(186);
				     height: remy(30);
				}
			}
		}
		.rotate-image1{
			transform: translateY(13%) rotate(-11.49deg);
			
		}
		.rotate-image2{
			transform: translate(-6%, -10%) rotate(10.39deg)
		}
	}
	.align-right-buttons{
		margin-top: auto;
		@media (max-width: 767px) {
			column-gap:15px;
			margin-top: 30px;
			.btn, .btn-primary{
				padding-left: 20px;
				padding-right: 20px;
				
				flex:1;
			}
		}
	}
	@media (max-width: 767px) {
	display: block;
	}
}
.user-card{
	// padding: 25px;
	// padding-top: 0;
	// padding-bottom: 0;
	background-color: #fff;
	row-gap:32px;
	width: 330px;
	&__img{flex-shrink: 0;background-color: #B9B1A6;}
	&__img img{
		height: 280px;
		width: 100%;
		object-fit: cover;
		object-position: center top;;
	}
	&__body{
		flex-grow: 1;
		row-gap: 22px;
	}
	.card__body-group{
		row-gap: 10px;
		.flex{column-gap:4px;}
		.txt-bold{
			font-weight: 700;
			font-size: 18px;
			line-height: 111%;
			color: #2e3033;
		}
	}
	@media (max-width: 1919px) {
		// padding: remy(25);
		row-gap:remy(32);
		width: remy(330);
		&__body{row-gap: remy(22);}
		&__img img{height: remy(280)}
		.card__body-group{
			row-gap: remy(10);
			
			.txt-bold{
				font-size: remy(18);
				
			}
		}
	}
	@media (max-width: 767px) {
		// padding: 20px;
		row-gap:30px;
		width: 100%;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		
		&__body{row-gap: 20px;}
		&__img img{height: 267px}
		.card__body-group{
			row-gap: 10px;
			
			.txt-bold{
				font-size: 17px;
				
			}
		}
	}
}

.mySwiper{
	padding-bottom: 20px;
	.swiper-slide{
		width: 362px!important;
		padding-right: 10px;
		height: 296px;
		display: flex;
		.rotate-image{
			width: 100%;
			height: 296px;
			.flex{bottom:7px;}
			.img-caption--name{
				font-size: 19px;
				font-family: var(--second-family);
			}
			.img-logo{
				width: 131px;
				height: 20px;
			}
		}
		img{
			width: 100%;
			height: 253px;
		}
	}
	.mySwiper-nav{
		justify-content: center;
		bottom:-16px;
		position: relative;
		
	}
}
.user-card, .user-card__body, .user-card .card__body-group{
	display: flex;
	flex-direction: column;
	&>*{width: 100%;}
}
.before-after.before-after--inner{
	padding-top: 60px;
	padding-bottom: 0;
	.before-after-wrapper {padding-top: 40px;}
	.before-after__right{padding-top: 70px;}
	@media (max-width: 1919px) {
		padding-top: remy(60);
		.before-after-wrapper {padding-top: remy(40);}
		.before-after__right{padding-top: remy(70);}
	}
	@media (max-width: 767px) {
	  display: none;
	}
}