@use "../base/var" as *;

.blog-content{
	padding-bottom: 68px;
	@media (max-width: 1919px) {padding-bottom: remy(68);}
	@media (max-width: 767px) {
	padding-bottom: 40px;
	padding-top: 0;
	}
}

.promo-blog{
	min-height: 700px;
	position: relative;
	overflow: hidden;
	background-size: 1920px 887px;
    background-position: right bottom;
	&:after{
		content:'';
		position: absolute;
		display: block;
		bottom: 50%;
		transform: translateY(55%);
		right: -20px;
		border: 1px solid #b9b1a6;
		border-right: 0;
		border-radius: 232px 0 0 232px;
		box-shadow: inset 0 1px 1px 0 #97918c, inset -1px 0 3px 0 rgba(0, 0, 0, 0.25);
		opacity: 0.5;	
		width: 1200px;
		height: 464px;
		z-index: 1;
		@media (max-width: 1919px) {
			width: remy(1200);
			height: remy(464);
		}
		@media (max-width: 767px) {
		display: none;
		}
	}
	@media (max-width: 1919px) {
		min-height: remy(700);
		background-size: remy(1920) remy(887);
	}
	@media (max-width: 767px) {
	background-image: none!important;
	}
}
.promo-blog-wrapper{
	padding-top: 53px;
	padding-bottom: 83px;
	@media (max-width: 1919px) {
		padding-top: remy(53);
	    padding-bottom: remy(83);
	}
	@media (max-width: 767px) {
		padding-top: 25px;
	    padding-bottom: 20px;
	}
}
.article-card{
	background-color: #fff;
	padding: 40px;
	display: flex;
	flex-direction: column;
	row-gap:20px;
	border: 1px solid #b9b1a6;
	max-width: 495px;
	
	.article-card__title{
		font-family: var(--second-family);
		font-weight: 300;
		font-size: 24px;
		line-height: 117%;
		text-transform: uppercase;
		color: #2e3033;
		flex-shrink: 0;
		width: 100%;
	}
	.article-card__img{
		height: 144px;
		width: 285px;
		overflow: hidden;
		flex-shrink: 0;
		width: 100%;
		img{
			width: 322px;
			height: 144px;
			object-position: 0 0;
			object-fit: cover;
		}
	}
	.article-card__txt{
		flex-grow: 1;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 14px;
		line-height: 129%;
		color: #2e3033;
	}
	.article-card__link {
		.flex-link{
			font-weight: 600;
			font-size: 20px;
			line-height: 110%;
			color: #2e3033;
		}
	}
	@media (max-width: 1919px) {
		padding: remy(40);
		row-gap:remy(20);
		max-width: remy(495);
		.article-card__title{
			font-size: remy(24);
		}
		.article-card__img{
			height: remy(144);
		   width: remy(285);
		   img{
			width: remy(322);
			height: remy(144);
			}
		}
		.article-card__txt{
			padding-top: remy(20);
			padding-bottom: remy(20);
			font-size: remy(14);
		}
		.article-card__link {
			.flex-link{font-size: remy(20);}}
	}
	@media (max-width: 767px) {
		padding: 25px 20px;
		row-gap:20px;
		max-width: 400px;
		.article-card__title{
			font-size: 18px;
			line-height: 111%;
			text-transform: none;
		}
	
		.article-card__img{
			width: 100%;
			max-width: 322px;
			height: 144px;
			img{
				width: 322px;
				height: 144px;
				
			}
		}
		.article-card__txt{
			padding-top: 20px;
			padding-bottom: 20px;
			font-size: 14px;
		}
		.article-card__link {
			.flex-link{font-size: 20px;}}
	}
}
.border-tag{
	border: 1px solid #b9b1a6;
    padding: 0 10px;
    height: 30px;
	line-height: 28px;
	text-align: center;
	font-weight: 300;
	font-size: 14px;
	
	color: #2e3033;
	@media(min-width: 767px) and (max-width: 1919px) {
		padding: 0  remy(10);
		height: remy(30);
		line-height: remy(28);
		font-size: remy(14);
	}
	
}
.tags-box.flex{
	width: 100%;
	flex-shrink: 0;
	gap:10px;
	flex-wrap:wrap;
	@media(min-width: 767px) and (max-width: 1919px) {gap:remy(10);}
}
.blog-card{
	display: flex;
	flex-direction: column;
	row-gap:32px;
	width: 100%;
	max-width: 478px;
	.blog-card__img{
		flex-shrink: 0;
		width: 100%;
		height: 314px;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.blog-card__body{
		flex-grow:1;
		p{
			font-weight: 400;
			font-size: 14px;
			line-height: 129%;
			color: #2e3033;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			overflow: hidden;
		}
	}
	.tags-box{
		margin-bottom: 15px;
	}
	.blog-card__title{
		font-family: var(--second-family);
		font-weight: 300;
		font-size: 24px;
		line-height: 117%;
		color: #2e3033;
		margin-bottom: 22px;
	}
	.blog-card__link{
		padding-top: 15px;
		padding-bottom: 15px;
		flex-shrink: 0;
		font-weight: 600;
		font-size: 20px;
		line-height: 110%;
		color: #2e3033;
		svg{color: #2e3033;}
	}
	@media(min-width: 767px) and (max-width: 1919px) {
		max-width: remy(478);
		row-gap:remy(32);
		.blog-card__img{height: remy(314)}
		.blog-card__body p{
			font-size: remy(14);
		}
		.tags-box{margin-bottom: REMY(15);}
		.blog-card__title{
			font-size: remy(24);
			margin-bottom: remy(22);
		}
		.blog-card__link{
			padding-block: remy(15);
			font-size: remy(20);
		}
	}
}

.blog-tabs .tabs-content.active{
	display: grid!important;
	padding-top: 6px;
	grid-template-columns: repeat(12, 1fr);

	.feedback__content{
		grid-column:  span 12;
		margin-top: -5px;
		background-color: #fff;
		position: relative;
		z-index: 2;
		@media (max-width: 767px) {
			border-bottom: 0;
			padding-block: 0!important;
		}
	}
	.tabs-content__footer{
		grid-column:  span 12;
		padding-block:20px;
		justify-content: space-between;
		@media (max-width: 767px) {
		  flex-direction: column; row-gap: 20px;
		  padding-top: 0;
		}
	}
	.pagination{margin-left: auto;
	}
	@media (max-width: 767px) {
	
	padding-top: 20px;
	}
	
}
.blog-card-block{
	display: grid!important;
	grid-template-columns: repeat(12, 1fr);
	@media (max-width: 767px) {
	row-gap:40px;
	
	}
}
.blog-tabs .card-border-box{
	grid-column: span 4;
	@media (max-width: 767px) {
		grid-column: span 12;
	}
}
.blog-tabs .card-border-box{
	padding-block:24px;
	border-bottom:1px solid #b9b1a6;
	@media (max-width: 1919px) {
		padding-block:remy(24);
	}
	@media (max-width: 767px) {
		padding-block:0;border-bottom:0;
	}
}
.blog-tabs .card-border-box:nth-child(3n +1){padding-right: 40px;}
.blog-tabs .card-border-box:nth-child(3n){padding-left: 40px;}
.blog-tabs .card-border-box:nth-child(3n +2){
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
	&:after, &:before{
		content:'';
		position: absolute;
		width: 1px;
		background-color: #b9b1a6;
		top: 20px;
		bottom: 20px;
	}
	&:after{
		left: 0;
	}
	&:before{
		right: 0;
	}
}
@media (max-width: 1919px) {
	.blog-tabs .card-border-box:nth-child(3n +1){padding-right: remy(40);}
	.blog-tabs .card-border-box:nth-child(3n){padding-left: remy(40);}
	.blog-tabs .card-border-box:nth-child(3n +2){
		padding-left: remy(40);
		padding-right: remy(40);
		
		&:after, &:before{
			content:'';
			position: absolute;
			width: 1px;
			background-color: #b9b1a6;
			top: remy(20);
			bottom: remy(20);
		}
		
	}
}
@media (max-width: 767px) {
	.blog-tabs .card-border-box:nth-child(3n +1){padding-right:0;}
	.blog-tabs .card-border-box:nth-child(3n){padding-left: 0;}
	.blog-tabs .card-border-box:nth-child(3n +2){
		padding-left: 0;
		padding-right: 0;
		
		&:after, &:before{display: none;}
	}
}