@use "../base/var" as *;

.article-card{
	background-color: #fff;
	padding: 40px;
	display: flex;
	flex-direction: column;
	row-gap:20px;
	border: 1px solid #b9b1a6;
	max-width: 495px;
	.article-tags{
		column-gap:10px;
		flex-shrink: 0;
		width: 100%;
	}
	.article-card__title{
		font-family: var(--second-family);
		font-weight: 300;
		font-size: 24px;
		line-height: 117%;
		text-transform: uppercase;
		color: #2e3033;
		flex-shrink: 0;
		width: 100%;
	}
	.article-card__img{
		height: 144px;
		width: 285px;
		overflow: hidden;
		flex-shrink: 0;
		width: 100%;
		img{
			width: 322px;
			height: 144px;
			object-position: 0 0;
			object-fit: cover;
		}
	}
	.article-card__txt{
		flex-grow: 1;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 14px;
		line-height: 129%;
		color: #2e3033;
	}
	.article-card__link {
		.flex-link{
			font-weight: 600;
			font-size: 20px;
			line-height: 110%;
			color: #2e3033;
		}
	}
	@media (max-width: 1919px) {
		padding: remy(40);
		row-gap:remy(20);
		max-width: remy(495);
		.article-card__title{
			font-size: remy(24);
		}
		.article-card__img{
			height: remy(144);
		   width: remy(285);
		   img{
			width: remy(322);
			height: remy(144);
			}
		}
		.article-card__txt{
			padding-top: remy(20);
			padding-bottom: remy(20);
			font-size: remy(14);
		}
		.article-card__link {
			.flex-link{font-size: remy(20);}}
	}
	@media (max-width: 767px) {
		padding: 25px 20px;
		row-gap:20px;
		max-width: 400px;
		.article-card__title{
			font-size: 18px;
			line-height: 111%;
			text-transform: none;
		}
	
		.article-card__img{
			width: 100%;
			max-width: 322px;
			height: 144px;
			img{
				width: 322px;
				height: 144px;
				
			}
		}
		.article-card__txt{
			padding-top: 20px;
			padding-bottom: 20px;
			font-size: 14px;
		}
		.article-card__link {
			.flex-link{font-size: 20px;}}
	}
}
.border-tag{
	border: 1px solid #b9b1a6;
    padding: 0 10px;
    height: 30px;
	line-height: 28px;
	text-align: center;
	font-weight: 300;
	font-size: 14px;
	
	color: #2e3033;
	@media(min-width: 767px) and (max-width: 1364px) {
		padding: 0  remy(10);
		height: remy(30);
		line-height: remy(28);
		font-size: remy(14);
	}
	
}