@use "../base/var" as *;
.footer{
	
	background-color: #B9B1A6;
	color: white;
	.footer-btn .btn{
		height: 57px;
		width: 317px;
		font-weight: 600;
		font-size: 15px;
		@media (max-width: 1919px) {
			height: remy(57);
			width: remy(317);
			font-size: remy(15);
		}
		@media (max-width: 767px) {
		   height: 53px;
		   width: 359px;
		   font-size: 15px;
		}
	}
	.contact-link{
		font-weight: 600;
		color: white;
	}
}
.footer-top{
	padding-block: 48px;
	border-bottom: 1px solid #fff;
	@media (max-width: 1919px) {
		padding-block:remy(48);
	}
	@media (max-width: 767px) {
	padding-top: 32px;
	padding-bottom: 28px;
	}
}
.footer-top__content.flex{
	align-items: stretch;
	column-gap:100px;
	@media (max-width: 1919px) {
		column-gap:remy(100);
	}
}
.footer-map{
	flex:1;
	@media (max-width: 767px) {
	display: none;
	}
}
.footer-map , .footer-map .map{
	display: flex;
	width: 100%;
	filter: grayscale(1);
}
.footer .logo{
	width: 103px;
	height: 110px;
	display: block;
	
	@media (max-width: 1919px) {
		width: remy(103);
		height: remy(110);
		
	}
	@media (max-width: 767px) {
	width: 74px;
	height: 78px;
	}
}
.footer-contacts.flex{
	row-gap: 32px;
	flex-direction: column;
	align-items: flex-start;
	.social-block{column-gap:12px;}
	@media (max-width: 1919px) {
		row-gap: remy(32);
		.social-block{column-gap:remy(12);}
	}
	@media (max-width: 767px) {
		flex-wrap: wrap;
		flex-direction: row;
		gap:24px;
		.social-block{column-gap:16.59px;}
		.logo{
			order:-1;
			width: 140px;
			padding-left: 33px;
			padding-right: 33px;
			img{
				width: 74px;
				height: 78px;
			}
		}
		.footer-address{
			width: 100%;
			order:3;
		}
		.contact-link{
			width: 200px;
			order:2;
		}
		.social-block{
			order:4;
		}
		.footer-btn{
			order:5;
			width: 100%;
		}
	}
}
.footer-address{
	font-weight: 400;
	font-size: 18px;
	line-height: 133%;
	color: #fff;
	&>*+*{margin-top: 6px;}
	@media (max-width: 1919px) {
		font-size: remy(18);
	}
	@media (max-width: 767px) {
		font-weight: 500;
		font-size: 20px;
		line-height: 120%;
	}
}
.footer-links{
	row-gap: 16px;
	@media (max-width: 1919px) {
		row-gap: remy(16);
	}
}
.contact-link{
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color:#2E3033;
	&__icon{
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		img{
			object-fit: contain;
			width: 100%;
			height: 100%;
		}

	}
	@media (max-width: 1919px) {
		font-size: remy(16);
		&__icon{
			width: remy(24);
		    height: remy(24);
		}
	}
	@media (max-width: 767px) {
		font-size: 14px;
		line-height: 171%;
		column-gap:12px;
		&__icon{
			width: 16px;
		    height: 16px;
		}
	}
}

.footer-menus__content{
	display: grid;
	grid-template-columns: 960px 1fr;
	@media (max-width: 1919px) {
		grid-template-columns: remy(960) 1fr;
	}
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
	}
}
.footer-nav__list{
	height: 110px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	column-gap:56px;
	width: fit-content;
	@media (max-width: 1919px) {
		column-gap:remy(56);
		// height: remy(110);
	}
	@media (max-width: 767px) {
		height: auto;
		display: block;
		column-count: 2;
		column-gap: 32px;
	}
}
.footer-nav{
	padding-block: 32px;
	padding-left: 80px;
	@media (max-width: 1919px) {
		padding-block: remy(32);
		padding-left: remy(80);
	}
	@media (max-width: 767px) {
		padding-block: 20px;
		padding-left: 0;
	}
}
.footer-nav.footer-nav--big{
	padding-left: 0;
	padding-right: 80px;
	border-right:1px solid white;
	@media (max-width: 1919px) {
		padding-right: remy(80);
	}
	@media (max-width: 767px) {
		padding-right: 0;
		border-right:0;
		border-bottom:1px solid white;
	}
}
.footer-nav{
	&__title{
		font-family: var(--second-family);
		font-weight: 300;
		font-size: 24px;
		line-height: 130%;
		color: #fff;
		margin-bottom: 24px;
		@media (max-width: 1919px) {
		  font-size: remy(24);
		  margin-bottom: remy(24);
		}
		@media (max-width: 767px) {
			font-size: 18px;
			line-height: 156%;
			margin-bottom: 20px;
		}
	}
	.footer-nav__list a{
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		text-transform: capitalize;
		color: #fff;
		padding-top: 5px;
		padding-bottom: 5px;
		display: inline-block;
		@media (max-width: 1919px) {
			font-size: remy(16);
		}
		@media (max-width: 767px) {
			font-size: 12px;
		}
	}
	
}
.footer-bottom{
	padding-block: 32px;
	border-top:1px solid white;
	@media (max-width: 1919px) {
		padding-block: remy(32);
	}
	@media (max-width: 767px) {
		padding-block: 20px;
	}
}
.politic-link a{
	border-bottom:1px solid white;
	width: fit-content;
}
.footer-bottom__content, .savov-link a,.politic-link a {
	font-weight: 400;
	font-size: 16px;
	line-height: 135%;
	color: #fff;
	text-transform: uppercase;
	@media (max-width: 1919px) {
		font-size: remy(16);
	}
	@media (max-width: 767px) {
		font-size: 10px;
	}
}


.footer-bottom__content{
	justify-content: space-between;
	@media (max-width: 767px) {
		flex-wrap: wrap;
		row-gap:12px;
		.politic-link{
			order: -1;
			width: 100%;
			font-size: 12px;
			line-height: 134%;
			width: 100%;
		}
		.copyright-txt{
			width: 45%;
			order:2;
			font-size: 10px;
		}
		.savov-link{
			width: 48%;
			order:23;
			font-size: 10px;
			order:3;
			text-align: right;
		}
	}
}