@use "../base/var" as *;
.header.header--primary{
	background-color: #B9B1A6;
	border-bottom:1px solid white;
	.logo .svg-logo{color: white;}
	.header-nav-logo .logo{display: none;}
	.header-menu{
		
		a{
			color: #fff;
			@media (max-width: 767px) {
				color: #2E3033;
			}
		}
		@media (max-width: 767px) {
			// .header-nav-logo .logo{display: flex;}
			// .header-nav-logo .svg-logo{color: #2E3033;}
		 li{width: 100%; border-bottom: 1px solid #ABA096;}
		}
	}
	.header-nav-wrapper{
		.social-block {
			border-left: 1px solid white;
		}
		.btn{
			border-color: white;
			@media (max-width: 767px) {
			border: 1px solid currentColor;
			}
		}
		.logo{display: none; width: 164px; height: 26px;}
		
		@media (max-width: 767px) {
			
			background-color: #fff;
			
			.social-link{
				color: #ABA096;
				border-color: #ABA096;
			}
			
			.header-nav-logo{
				border-bottom:1px solid #ABA096;
			}
			
			.header-nav-logo .logo{display: flex; .svg-logo{color: #2E3033;}} 
			.social-block{border-left-color:#ABA096; }
		}
	}


}
.header{
	padding-top: 42px;
	padding-bottom: 34px;
	background-color: #fff;
	border-bottom: 1px solid #b9b1a6;
	position:sticky;
	z-index: 6;
	top:0;
	&-content{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-contacts{
		.social-link{border-color: white;}
	}
	.logo{
		width: 267px;
		display: flex;
		align-items: center;
		.svg-logo{color: #2E3033;}
	}
	@media (max-width: 1919px) {
		padding-top: remy(40);
		padding-bottom: remy(40);
		.logo{width: remy(267)}
	}
	@media (max-width: 767px) {
		.logo{width: 164px; height: 34px;}
		height: 52px;
		
	}
}
.header-menu{
	li{
		display: flex;
		align-items: center;
	}
	a{
		font-weight: 500;
		font-size: 15px;
		line-height: 150%;
		text-transform: uppercase;
		color: #2e3033;
		white-space: nowrap;
		@media (max-width: 1919px) {
			font-size: remy(15);
		}
		@media (max-width: 767px) {
			color: #2E3033;
			font-size: 15px;
			padding-top: 15px;
			padding-bottom: 15px;
			width: 100%;
		}
	}
	@media (max-width: 767px) {
	 flex-direction: column;
	 width: 100%;
	 
	 margin-bottom: 20px;
	 li{width: 100%; border-bottom: 1px solid #ABA096;}
	}
}
.header-nav-wrapper{
	.social-block {
		padding-left: 20px;
		border-left: 1px solid #ABA096;;
		column-gap: 20px;
		@media (max-width: 1919px) {
			column-gap: remy(20);
		}
		@media (max-width: 767px) {
			column-gap: 20px;
			svg{fill:#aba096;}
		}
	}
	.social-link{
		border-color: #ABA096;
	}
	.btn{
		height: 35px;
		font-size: 15px;
		letter-spacing: 0.07em;
		padding-inline: 25px;
		border-color: currentColor;
		@media (min-width: 768px) and (max-width: 1919px) {
			height: remy(35);
			font-size: remy(15);
			padding-inline:  remy(25);
		}
		@media (max-width: 767px) {
		border: 1px solid currentColor;
		}
	}
	.logo{display: none; width: 164px; height: 34px;}
	@media (max-width: 767px) {
		align-items: flex-start;
		position: fixed;
		flex-direction: column;;
		inset:0;
		background-color: #fff;
		padding-bottom: 50px;
		transform: translateX(110%);
		z-index: 10;
		transition: .3s; 
		&.active{transform: translateX(0);}
		.social-link{
			color: #ABA096;
			border-color: #ABA096;
		}
		.svg-logoDark{
			width: 164px;
			height: 34px;
		}
		.logo{display: flex; }
		.header-nav-logo{
			padding: 10px 20px;
			border-bottom:1px solid #ABA096;
			width: 100%;
			height: 52px;
			.logo{display: flex; }
		}
		.social-block{border-left-color:#ABA096; }
		
	}
}
@media (max-width: 767px) {
	.header-nav-logo{
		padding: 10px 20px;
		border-bottom:1px solid #ABA096;
		width: 100%;
		height: 52px;
		.logo{display: flex; }
	}
}
.header-nav-scroll{
	@media (max-width: 767px) {
		width: 100%;
		flex-direction: column;
		padding-left: 20px;
		padding-right: 20px;
		align-items: flex-start;
	}
}
/*BURGER*/
.menu-toggle {
	width: 35px;
	height: 25px;
	-webkit-box-pack: center;
			justify-content: center;
	-webkit-box-align: center;
			align-items: center;
	cursor: pointer;
	display: none;
	border-radius: 10px;
	
	@media (max-width: 767px) {
		display: -webkit-box;
		display: flex;
		z-index: 15;
	}
  }
  
  .menu-toggle  span {
	position: relative;
	width: 25px;
	height: 2px;
	
	background-color: #2E3033;
  }

  .menu-toggle  span::before, .menu-toggle  span::after {
	content: "";
	position: absolute;
	left: 0;
	width: 25px;
	height: 2px;
	transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
	
	background-color: #2E3033;
  }
  .header.header--primary{
	.menu-toggle  span::before, .menu-toggle  span::after,
	.menu-toggle  span {background-color: white;}
  }
  .menu-toggle  span::before {
	top: -5px;
  }
  .menu-toggle  span::after {
	top: 5px;
  }
  
  /* Active state */
  .menu-toggle.active  span {
	background-color: transparent;
  }
  .menu-toggle.active span::before,  .menu-toggle.active span::after {
	top: 0;
	transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
	background-color: #2E3033!important;
  }
  .menu-toggle.active span::before {
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
  }
  .menu-toggle.active span::after {
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
  }
  
.address-block{
	padding: 15px 30px;
	background: #aba096;
	color: white;
	border: 1px solid #aba096;
	width: max-content;
	p{
		font-weight: 500;
		font-size: 14px;
		
		color: #fff;
	}
	&__metro{
		display: flex;
		column-gap: 10px;
		align-items: center;
		font-size: 18px;
	}
	&__info{
		&>*+*{margin-top: 5px;}
	}
	&>*+*{margin-top: 10px;}
	@media (max-width: 767px) {
	width: 100%;
	}
	
}
.header-nav-wrapper {
	.address-block{
		display: none;
	
		@media (max-width: 767px) {
			display: block;
			margin-bottom: 20px;
			width: 100%;
		}
	}
}