@use "base/var" as *;
.team-content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:30px;
}

.doctor-card.doctor-card--short{
	display: grid;
	grid-template-columns: 280px 1fr;
	column-gap:40px;

	
	
	.title-26, .doctor-card__list p{
		font-size: 18px;
		line-height: 133%;
		letter-spacing: -0.03em;
	}
	.title-26{line-height: 111%; padding-right: 60px;}
	.doctor-card__img{height:400px;}
	
	
	@media (max-width: 1919px) {
		grid-template-columns: remy(280) 1fr;
		column-gap:remy(40);
		.title-26, .doctor-card__list p{font-size: remy(18);}
		.doctor-card__img{height:remy(400);}
	}
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		column-gap:20px;
		.doctor-card__img{height:remy2(212)}
		.doctor-card__profile{padding-top: 0;}
		.doctor-card__profile .doctor-card__list p{font-size: 14px;}
		.doctor-card__profile .title-26{font-size: 18px;}
	}
	
}
.doctor-card.doctor-card--short .doctor-card__profile{
	grid-template-columns: 1fr;
	.team-preview__video-btn{
		border: 1px solid #b9b1a6;
		line-height: 110%;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		width:max-content;
		height: 52px;
		.btn-play{right: 5px;}
		@media(max-width: 768px) and (max-width: 1919px) {
			height: remy(52);
			padding-left: 10;
			padding-right: 10;
		}
	}
	&-group{
		display: flex;
		flex-direction: column;
		row-gap: 24px;
	}
}
.team-short-swiper.swiper{
	@media (max-width: 767px) {
		width:calc(50% + 50vw);
	.swiper-slide{width: 360px!important;}
	}
	@media (max-width: 399px) {
		.swiper-slide{width: auto!important;}
	}
}
.video-slim-btn{
	border: 1px solid #b9b1a6;
	line-height: 110%;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	width:max-content;
	height: 52px;
	border-radius: 50px;
	font-size: 15px;
	letter-spacing: 0.07em;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 10px 30px;
	
	column-gap:14px;
	.btn-play{
		position: relative;
		inset: auto;
		transform:translate(0);
		width: 34px;
		height: 34px;
	}
	@media(min-width: 768px) and (max-width: 1919px) {
		height: remy(52);
		padding: remy(10) remy(26);
		font-size: remy(15);
		.btn-play{
			width: remy(34);
			height: remy(34);
		}
	}
}
.doctor-card.doctor-card--short  .doctor-card__list li {
	span{
		font-weight: 500;
		font-size: 14px;
		line-height: 129%;
		letter-spacing: -0.03em;
		color: #2e3033;
		margin-bottom: 8px;
		display: block;
	}
	p{
		font-weight: 400;
		font-size: 18px;
		line-height: 133%;
		letter-spacing: -0.03em;
		color: #2e3033;
	}
	&+li{margin-top: 16px;}
	 @media(min-width: 768px) and (max-width: 1919px) {
		span{
			font-size: remy(14);
			margin-bottom: remy(8);
		}
		p{font-size: remy(18);}
		&+li{margin-top: remy(16);}	
	}
	@media (max-width: 767px) {
		p{font-size: 14px;}
	}
}
.team-short-swiper{
	margin-top: 30px;
	padding-bottom: 20px;
	.team-short-nav.flex-nav{
		display: none;
		position: relative;
		bottom:-20px;
	}

	@media (max-width: 767px) {
		.team-short-nav.flex-nav{
			display: flex;
		}
	}
}