@use "base/var" as *;
.promo.promo-about{
	min-height: 780px;
	.container.pl-110{
		min-height: 700px;
		z-index: 5;
	}
	@media (max-width: 1919px) {
		min-height: remy(780);
		.container.pl-110{min-height: remy(700);}
			
	}
	@media (max-width: 767px) {
		min-height: 635px;
		.container.pl-110{min-height: unset;}
	}
}
.promo-about {
	position: relative;
	&:before{
		content:'';
		position: absolute;
		inset: 0;
		
		background-image: url('../img/about/line-group.webp');
		background-size: contain;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 3;

	}
	&:after{
		content:'';
        position: absolute;
		inset: 0;
		background: linear-gradient(37deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
                linear-gradient(327deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
		z-index: 2;	
		@media (max-width: 767px) {
			background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
		}
	}
}
.promo-about .promo-bg-image{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	&:after{
		content:'';
        position: absolute;
		left: 0;
		right: 0;
		bottom:70px;
		border-top:1px solid white;
		z-index: 2;
		@media (max-width: 1199px) {
			bottom:remy(70);
		}
		@media (max-width: 1023px) {
		display: none;
		}
	}
	
}
.promo-about {
	.promo-about__content{
		padding-top: 50px;
		@media (max-width: 1919px) {
			padding-top: remy(50);
		}
		@media (max-width: 767px) {
		    padding-top: 74px;
			padding-bottom: 38px;
			justify-content: space-between;
			height: 635px;
			display: flex;
			flex-direction: column;
		}
	}
	.promo-about__title{
		max-width: 992px;
		flex-grow: 1;
		.h1{line-height: 0.7;}
		.gogol-text{
			letter-spacing: -0.06em;
			font-weight: 400;
			font-size: 110px;
			line-height: 1;
			text-transform: lowercase;
			margin-right: 60px;
		}
		@media (max-width: 1919px) {
			max-width:remy(1000);
			.h1{line-height: 1;}
			.gogol-text{margin-right: remy(60); font-size: remy(110);}
		}
		@media (max-width: 1199px) {
			max-width: 100%;
		}
		@media (max-width: 767px) {
			max-width: 382px;
			.gogol-text{margin-right: 5px; font-size: 40px}
			.h1, h1{
				font-size: 18px;
				line-height: 133%;
			}
		}
	}
	.promo-about__description{
		max-width: 460px;
		margin-left: auto;
		transform: translateX(10%);
		
		p+p{margin-top: 1em;}
		p{
			color: white;
			font-weight: 400;
			font-size: 20px;
			line-height: 120%;
			letter-spacing: -0.1em;
			text-align: justify;
			color: #fff;
		}
		p strong{
			font-weight: 600;
		}
		@media (max-width: 1919px) {
			max-width: remy(460);
			transform: translateX(0);
			p{font-size: remy(20);}
		}
		@media (max-width: 767px) {
			max-width: 360px;
			font-size: 18px;
			line-height: 100%;
			font-weight: 500;
			margin-left: 0;
			margin-top: auto;
			p{
				font-size: 18px;
				line-height: 133%;
			}
			p + p{display: none;}
		}
	}
}

.promo.promo-inner{
	height: 500px;
}
.promo-inner__title.flex-col{
	row-gap: 38px;
	padding-top: 27px;
}
.promo-inner__grid.grid-two-column{
	display: grid;
	grid-template-columns: 460px 1fr;
	column-gap: 30px;
	padding-top: 30px;
	.rotate-img-group{
		padding-left: 140px;
		display:flex;
		align-items: flex-start;
		column-gap:50px;
		.rotate-image1{
			transform: rotate(-12.53deg);
			margin-left: 50px;
		}
		.rotate-image2{
			transform: rotate(15.42deg);
			margin-left: 80px;
			margin-top: 50px;
			position: relative;
			z-index: 2;
		}
		.rotate-image3{
			transform: rotate(-20.39deg);
			right:50px;
			position: relative;
			z-index: 1;
		}
	}
}