@use "../base/var" as *;
.blockquote-box{
	font-weight: 300;
	font-size: 26px;
	line-height: 123%;
	letter-spacing: 0.04em;
	text-align: center;
	color: #2e3033;
	text-align: center;
	max-width: 970px;
	position: relative;
	padding-top: 77px;
	

	font-family: var(--second-family);
	p{
		position: relative;
		padding-inline: 60px;
	}
	.quote-left,.quote-right{
		position: absolute;
		width: 39px;
		height: 33px;
	}
	.quote-left{
		top: 0;
		left: 0;
	}
	.quote-right{
		bottom: 0;
		right: 0;
	}
	.blockquote-faximily {
		display: inline-block;
		font-family: var(--font4);
		font-weight: 400;
		font-size: 120px;
		line-height: 120%;
		text-transform: uppercase;
		color: #b9b1a6;
		text-transform: capitalize;
		display: flex;
		justify-content: flex-end;
		padding-right: 145px;
		margin-top: 26px;
		@media (min-width: 768px) and (max-width: 1919px) {
			font-size: remy(120);
			padding-right: remy(145);
			margin-top: remy(26);
		}
		@media (max-width: 767px) {
			font-size: 36px;
			line-height: 1;
			padding-right: 20px;
			justify-content: flex-start;
			padding-left: 40px;
			margin-top: 15px;
		}
	}
	@media (min-width: 768px) and (max-width: 1919px) {
		font-size: remy(26);
		max-width:remy(970);
		padding-top:remy(77);

		p{padding-inline: remy(60);}
		
		.quote-left,.quote-right{
			width: remy(39);
			height: remy(33);
		}
	}
	@media (max-width: 767px) {
		padding-top: 60px;
		font-size: 12px;
		line-height: 135%;
		letter-spacing: 0.08em;
		.quote-left,.quote-right{
			width: 27px;
			height: 23px;
		}
		p{
			padding-left: 30px;
			padding-right: 30px;
			max-width: 540px;
		}
	}
}

.team-preview{
	display: flex;
	position: relative;
	.persone-card-block{
		margin-top: -123px;
		@media (min-width: 768px) and (max-width: 1919px) {
			margin-top: remy(-123);
		}
		@media (max-width: 767px) {
		   margin-top: 0;
		   width: 50%;
		}
	}
	.persone-card__title{
		font-family: var(--second-family);
		font-weight: 300;
		font-size: 18px;
		line-height: 111%;
		width: 100%;
		max-width: 290px;
	}
	.team-preview__video{
		width: 38%;
		height: 602px;;
		max-height: 602px;
		position: relative;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
			object-position: top;
			position: relative;
			left: -17%;
			@media (max-width: 767px) {
			left: 0;
			}
		}
		@media (min-width: 768px) and (max-width: 1919px) {
			max-height: remy(602);
			height: calc((602/19.2)*1vw);
		}
		@media (max-width: 767px) {
			bottom:0;
			width: 206px;
			height: 250px;
			right: 0;
			position: absolute;
		}
	}
	.team-preview__video-btn{
		position: absolute;
		bottom: 19%;
    	right: 8px;
		z-index: 5;
		height: 63px;
		display: flex;
		padding-left: 37px;
		padding-right: 80px;
		border-radius: 100px;
		font-weight: 400;
		font-size: 15px;
		
		letter-spacing: 0.07em;
		text-transform: uppercase;
		color: #2e3033;
		display: flex;
		align-items: center;
		backdrop-filter: blur(4px);
		background: rgba(255, 255, 255, 0.58);
		p{white-space: nowrap;}
		.btn-play{
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);

		}
		@media (min-width: 768px) and (max-width: 1919px) {
			height: remy(63);
			padding-left: remy(37);
			padding-right: remy(80);
			border-radius: remy(100);
			font-size: remy(15);
		}
		@media (max-width: 767px) {
		   p span{display: none;}
		}
	}
	.team-preview__video-btn.visible-desk{
		display: flex;
		@media (max-width: 767px) {
		display: none;
		}
	}
	.team-preview__video-btn.visible-mob{
		display: none;
		@media (max-width: 767px) {
		display: flex;
		height: 52px;
		bottom: 15px;
		right:0;
		left:50%;
		width: 362px;
		text-align: center;
		justify-content: center;
		transform: translate(-50%, 100%);
		}
	}
	@media (max-width: 767px) {
		flex-direction: column;
	}
}
.teams-cards{
	margin-top: -50px;
	position: relative;
	z-index: 5;background-color: #fff;
	@media (max-width: 1199px) {
	margin-top: -10px;
	}
	@media (max-width: 767px) {
		margin-top: 55px;
	}
}
.teams-cards .swiper-wrapper{
	display: grid;
	column-gap: 20px;
	grid-template-columns: repeat(5, 1fr);
	
	@media (min-width: 1024px) and (max-width: 1919px) {
		column-gap: remy(20);
	}
	@media (max-width: 1023px) {
		.swiper-slide{width: 210px!important;}
		column-gap: 0;
	}
	@media (max-width: 767px) {
		.persone-card__title{
			font-size: 12px;
			line-height: 125%
		}
		.persone-card__info{
			font-size: 10px;
			line-height: 129%;
			letter-spacing: -0.03em;
		}
	}
}
.teams-cards{
	@media (max-width: 767px) {
	width: calc(50% + 50vw);
	}
}