@use "base/var" as *;

.promo{
	
	background-color: $pr;
	
	.promo-top .container{
		
		position: relative;
		display: flex;
		justify-content: flex-end;
		@media(min-width:768px) and (max-width: 1919px){
			
		}
		@media (max-width: 767px) {
			justify-content: center;
			flex-direction: column;
			
		}
	}
	.promo-img.promo-img--mob{
		display: none;
		@media (max-width: 767px) {
		display: flex !important;
		}
	}
	.promo-img.promo-img--desk{
		display: flex;
		@media (max-width: 767px) {
		display: none!important;
		}
	}
	.promo-img{
		position: relative;
		
		width: 883px;
		height: 663px;
		display: flex;
        justify-content: flex-end;
		
		@media(min-width:768px) and (max-width: 1919px){
			width: remy(883);
			height: remy(663);
		}
		@media (max-width: 767px) {
			width: calc((361 / 4.02)*1vw);
			height: calc((246 / 4.02)*1vw);
			
		}
	}	
	.promo-img .decore-text-top, .promo-img .decore-text-bottom{
		font-family: var(--font4);
		font-weight: 400;
		font-size: 100px;
		line-height: 120%;
		
		color: #c7491f;
		position: absolute;
		z-index: 4;
		@media(min-width:768px) and (max-width: 1919px){
			font-size: remy(100);
		}
		@media (max-width: 767px) {
			font-size: 37px;
		}
	}
		
	.promo-img .decore-text-top{
		left: 11%;
		top: 27%;
	}
	.promo-img .decore-text-bottom{
		right:0;
		bottom: 28%;
	}
	
	.promo-title__content{
		padding-top: 80px;
		padding-bottom: 80px;
		
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 70px;
		z-index: 5;
		.h1, h1, p{
			color: white;
		}
		@media(min-width:768px) and (max-width: 1919px){
			
			padding-top: remy(80);
			padding-bottom: remy(80);
			left: remy(70);
		}
		@media (max-width: 767px) {
			position: relative;
			padding-top: 48px;
			padding-bottom: 20px;
			left: 0;
			row-gap:22px;
			
		}
	}
		
	.promo-title__head{
		max-width: 440px;
		.h1, h1{margin-bottom: 0.5em;}
		.promo-subtitle{
			font-weight: 400;
			font-size: 24px;
			line-height: 108%;
			letter-spacing: -0.08em;
			color: #fff;
			@media(min-width:768px) and (max-width: 1919px){
				font-size: remy(24);
			}
		}
		@media(min-width:768px) and (max-width: 1919px){
			max-width: remy(440);
			
		}
		
	}
	.price-block{
		color: white!important;
		.txt-24 span{text-decoration: line-through;}
		&>*+*{margin-top: 22px;}
		@media (max-width: 767px) {
			.txt-24{font-size: 16px;}
			.h1{font-size: 34px;}
			&>*+*{margin-top: 6px;}
		}
	}
	.promo-title__box{
		row-gap: 30px;
		@media(min-width:768px) and (max-width: 1919px){
			row-gap: remy(20);
		}
		@media (max-width: 767px) {
			row-gap: 22px;
		}
	}
	
	.promo-bottom{
		height: 75px;
		position: relative;
		border-top:1px solid white;
		z-index: 3;
		@media(min-width:768px) and (max-width: 1919px){
			height: remy(75);
		}
		@media (max-width: 767px) {
			height: 56px;
			overflow: hidden;
			
		}
	}
	.promo-bottom-content{
		
		ul{
			justify-content: space-between;
			width: 100%;
			column-gap: 20px;
			li{
				font-weight: 600;
				font-size: 20px;
				text-transform: uppercase;
				white-space: nowrap;
				color: #fff;
				@media(min-width:768px) and (max-width: 1919px){
					font-size: remy(20);
				}
				@media (max-width: 767px) {
					font-size: 14px;
					width: fit-content;
					flex-shrink: 0;
				}
			}
			
		}
		
	}
	@media (max-width: 767px) {
		.promo-buttons.flex{
			flex-direction: column;
			row-gap:10px;
			&>*{width: 100%;}
		}
	}
}
.promo{
	.left-decore-line{
			position: absolute;
			color: #fff;
			top:6%;
			bottom:16%;
			left:0;
			transform: translateX(-50%);
			text-align: center;
			height: auto;
			@media (max-width: 1919px) {
				height: auto;
			}
			p{
				padding-block:20px;
				background-color: $pr;
				position: relative;
				z-index: 2;
				width: fit-content;
			}
			.decore-line__top{
				flex-shrink: 0;
				width: 2px;
				height: 31%;
				background-color: #fff;
				
				
			}
			.decore-line__bottom{
				flex-grow: 1;
				
			}
			
		}
		
		
	
}