@use "base/var" as *;

.promo-subtitle{
	max-width:520px;
	p{
		font-size: 18px;
		line-height: 133%;
	}
	p +p{margin-top: 10px;}
	@media (max-width: 1919px) {
		max-width: 27.53125vw;
		p{font-size: remy(18);}
		p +p{margin-top: remy(10);}	
	}
	@media (max-width: 767px) {
		p{font-size: 14px;}
		p +p{margin-top: 10px;}
		max-width: 100%;
	}
}
.promo-special-wrapper{
	padding-bottom: 65px;
	h1{letter-spacing: 0;}
	
	@media (max-width: 1919px) {
		padding-bottom: remy(65);
	}
	@media (max-width: 767px) {
		.promo-buttons .btn-primary{
			height: auto;
			padding: 0;
			
			background-color: #fff;
			border:0;
			font-weight: 600;
			font-size: 20px;
			line-height: 110%;
			color: #c7491f;
			svg{color: #c7491f;}
		}
		.product-card{font-size: 11px;}
	}
}
.promo-special-text{
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	padding-top: 48px;
	@media (max-width: 1919px) {
		row-gap: remy(40);
		padding-top: remy(48);
	}
	@media (max-width: 767px) {
		row-gap: 40px;
		padding-top: 30px;
	}
}
.promo-special-grid{
	display: grid;
	grid-template-columns: 630px 1fr;
	position: relative;
	.rotate-image__group{
		position: absolute;
		top: 0;
		right: 392px;
		
	}
	@media (max-width: 1919px) {
		grid-template-columns: remy(630) 1fr;
		.rotate-image__group{right: remy(392);}
	}
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		row-gap:40px;
		.rotate-image__group{
			position: relative;
			right: auto;
			height:345px;
			overflow: hidden;
			.rotate-image{
				width: 140px;
				height: 170px;
			}
		}
		.promo-product-cards{
			align-items: flex-start;
		}
	}
}
.promo-product-cards{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap:25px;
	padding-top: 20px;
	@media (max-width: 1919px) {
		gap:remy(28);
		padding-top: remy(20);
	}
	@media (max-width: 767px) {
		padding-top: 0;
		gap:25px;
	}
}
.product-card.product-card--short{
	.product-card__top{
		padding-bottom: 10px;
		.flex{
			border-bottom:0;
			padding-bottom: 0;
			
		}
		
		.title-20{
			font-size: 35px;
			line-height: 100%;
			letter-spacing: -0.03em;
		}
		@media (max-width: 1919px) {
			padding-bottom: remy(10);
			.title-20{font-size: remy(35)}
		}
		@media (max-width: 767px) {
			padding-bottom: 10px;
			.title-20{font-size: 15.5px;}
			
			
		}
	}
	@media(min-width: 768px)and (max-width: 1919px) {
		.product-card__top{
			padding-bottom: remy(10);
			.title-20{font-size: remy(35);}
		}
	}
	@media (max-width: 767px) {
		
		padding-bottom: 10px;
		.product-card__price{font-size: 25px; padding-top: 12px;}
		.product-card__img{
			width: 46px;
			height: 46px;
		}
		
	}
}

.promo-special .rotate-image__group{
	display: flex;
	.rotate-image{
		padding-bottom: 35px;
		width: 243px;
		height: 266px;
		flex-shrink:0;
		@media (max-width: 1919px) {
		   width: remy(243);
		   height: remy(266);
		}
		@media (max-width: 767px) {
			padding-bottom: 25px;
		}
	}
	
	.rotate-image1{
		position: relative;
		transform: rotate(16deg);
		top: 48px;
		left: 80px;
		@media (max-width: 1919px) {
			top: remy(48);
			left: remy(80);
		}
		@media (max-width: 767px) {
			top: 18px;
			left: 20px;
		}
	}
	.rotate-image2{
		transform: rotate(12deg);
		top: 224px;
		left: -35px;
		z-index: 3;
		@media (max-width: 1919px) {
		  top: remy(224);
		  left: remy(-35);
		}
		@media (max-width: 767px) {
			top: 152px;
			left: -66px;
		}
	}
	.rotate-image3{
		transform: rotate(-21deg);
		top: 117px;
		left: -85px;
		@media (max-width: 1919px) {
			top: remy(117);
			left: remy(-85);
		}
		@media (max-width: 767px) {
		    top: 100px;
    		left: -88px;
		}
	}
	&.image-count-2{
		.rotate-image{
			width: 275px;
			height: 330px;
		}
		.rotate-image1{
			transform: translate(-42%, 67%) rotate(15.5deg);
			top: auto;
			left: auto;
		}
		.rotate-image2{
			transform: translate(-55%, 20%) rotate(-20.5deg);
			top: auto;
			left: auto;
			z-index:5;
		}
		@media (max-width: 1919px) {
			.rotate-image{
				width: remy(275);
				height: remy(330);
			}
			
			}
		@media (max-width: 767px) {
			.rotate-image{
				width: 150px;
				height: 190px;
			}
			.rotate-image1{transform: translate(27%, 67%) rotate(15.5deg);}
			.rotate-image2{transform: translate(0, 20%) rotate(-20.5deg);}
		}
	}
}

.promo-special{
	.promo-bottom{
		height: 75px;
		position: relative;
		border-top:1px solid #b9b1a6;
		border-bottom:1px solid #b9b1a6;
		z-index: 3;
		@media(min-width:768px) and (max-width: 1919px){
			height: remy(75);
		}
		@media (max-width: 767px) {
			height: 56px;
			overflow: hidden;
			
		}
	}
	.promo-bottom-content{
		
		ul{
			justify-content: space-between;
			width: 100%;
			column-gap: 20px;
			li{
				font-weight: 600;
				font-size: 20px;
				text-transform: uppercase;
				white-space: nowrap;
				color:  #2e3033;
				@media(min-width:768px) and (max-width: 1919px){
					font-size: remy(20);
				}
				@media (max-width: 767px) {
					font-size: 14px;
					width: fit-content;
					flex-shrink: 0;
				}
			}
			
		}
		
	}
}
.rotate-image__group.image-count-1{
	right: 955px;
	transform: translate(2%, 60%) rotate(15.5deg);
	.rotate-image1{
		width: 225px;
		height: 280px;
		transform: rotate(0);
		
		top:auto!important;
		left: auto!important;
	}
	@media (max-width: 1919px) {
		right: remy(955);
		.rotate-image1{
			width: remy(225);
			height: remy(280);
			
		}
		@media (max-width: 767px) {
		   
		//    .rotate-image1{transform: translate(57%, 15%) rotate(15.5deg);}
		}
	}
	@media (max-width: 767px) {
	 right: auto;height: 210px;
	 transform: translate(0, 0) rotate(0deg);
	.rotate-image1{transform: translate(57%, 12%) rotate(15.5deg);}
	}
}
