@use "../base/var" as *;
.step-card{
	padding: 35px;
	padding-right: 0!important;
	display: flex;
	flex-direction: column;
	font-family: var(--second-family);
	font-weight: 300;
	font-size: 14px;
	line-height: 1.29;
	color: #2e3033;
	border: 1px solid #b9b1a6;
	position: relative;
	&>*{width: 100%;}
	.step-card__top{justify-content: space-between;margin-bottom: 34px; padding-right: 35px;}
	.step__num{
		font-size: 40px;
		line-height: 1;
		text-transform: uppercase;
		color: #aba096;
		
	}
	.step__img{
		padding-left: 17px;
		flex-shrink: 0;
		margin-bottom: 86px;
		height: 242px;
		display: flex;
		justify-content: flex-end;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.step__title{max-width: 204px;}
	@media (min-width: 768px) and (max-width: 1919px) {
		padding: remy(35);
		font-size: remy(14);
		.step-card__top{margin-bottom: remy(34); padding-right: remy(35);}
		.step__num{font-size: remy(40); }
		.step__img{
			padding-left: remy(17);
			height: remy(242);
			margin-bottom: remy(86);
			
			img{
				width: remy(235);
				height: remy(234);
				
			}
		}
	}
	@media (max-width: 767px) {
		padding: 22px 20px;
		padding-bottom: 88px;
		font-size: 18px;
		.step-card__top{margin-bottom: 20px; padding-right: 20px;}
		.step__num{font-size: 30px;}
		.step__img{margin-bottom: 35px;}
		.step__title{max-width: 100%;}
	}	
}
.steps{
	overflow: hidden;
	@media (max-width: 767px) {
		.steps-slider{
			width: calc(50% + 50vw);
		}
	}
}
.steps-slider{
	margin-top: 16px;
	padding-bottom: 5px;
	.swiper-slide{
		width: 330px!important;
		height: unset;
	}
	@media (min-width: 424px) {
		.swiper-slide{width: 360px!important;}
	}
	@media(min-width:768px){
		.swiper-wrapper{
			display:flex;
			grid-template-columns: repeat(10, 1fr);
			column-gap: 20px;
		}
		.swiper-slide{flex:1; width: auto!important;}
	}

	.steps-slider-nav{
		display: none;
		font-family: var(--second-family);
		font-weight: 300;
		font-size: 30px;
		line-height: 100%;
		text-transform: uppercase;
		width: fit-content;
		position: relative;
		bottom: 60px;
		left: 20px;
		position: relative;
		z-index: 3;
		color: #b9b1a6;
		.steps-slider-pagination span{font-variant-numeric: tabular-nums;}
		// @media (max-width: 1279px) {
		// 	display: flex;
		// 	align-items: center;
		// 	column-gap:remy(20);
		// }
		@media (max-width: 767px) {
			column-gap:20px;
			display: flex;
			align-items: center;
		}
	}
}

.step-card__name{
	font-weight: 400;
	font-size: 12px;
	line-height: 117%;
	text-transform: uppercase;
	text-align: right;
	
	color: #2e3033;
}
.step__desk{
	font-weight: 400;
	font-size: 14px;
	line-height: 129%;
	color: #2e3033;
	display: none;
	padding-top: 20px;
	font-family: var(--font-family);
	@media (max-width: 767px) {
	display: block;
	}
}
.step-card.step-card--work{

	.step__img{
		padding-left: 0;
		margin-bottom: 40px;
		img{width: 72%;}
	}
	.step__title{font-size: 18px; max-width: unset;}
	@media (max-width: 1919px) {
		.step__title{font-size: remy(18); 
	}
	@media (max-width: 767px) {
		.step__img{height:133px;}
		.step__title{font-size:18px;}
	
	}
} 
}