@use "../base/var" as *;
.step-card{
	padding: 35px;
	padding-right: 0!important;
	display: flex;
	flex-direction: column;
	font-family: var(--second-family);
	font-weight: 300;
	font-size: 14px;
	line-height: 1.29;
	color: #2e3033;
	border: 1px solid #b9b1a6;
	position: relative;
	&>*{width: 100%;}
	.step__num{
		font-size: 40px;
		line-height: 1;
		text-transform: uppercase;
		color: #aba096;
		margin-bottom: 34px;
	}
	.step__img{
		padding-left: 17px;
		flex-shrink: 0;
		margin-bottom: 86px;
		height: 242px;
		display: flex;
		justify-content: flex-end;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.step__title{max-width: 204px;}
	@media (min-width: 1280px) and (max-width: 1919px) {
		padding: remy(35);
		font-size: remy(14);
		.step__num{font-size: remy(40); margin-bottom: remy(34)}
		.step__img{
			padding-left: remy(17);
			height: remy(242);
			margin-bottom: remy(86);
			
			img{
				width: remy(235);
				height: remy(234);
				
			}
		}
	}
	@media (max-width: 1279px) {
		padding: 22px 20px;
		padding-bottom: 88px;
		font-size: 18px;
		.step__num{font-size: 30px;}
		.step__img{margin-bottom: 35px;}
		.step__title{max-width: 100%;}
	}	
}
.steps{
	overflow: hidden;
	@media (max-width: 1279px) {
		.steps-slider{
			width: calc(50% + 50vw);
		}
	}
}
.steps-slider{
	margin-top: 16px;
	.swiper-slide{
		width: 330px!important;
		height: unset;
	}
	@media (min-width: 424px) {
		.swiper-slide{width: 360px!important;}
	}
	@media(min-width:1280px){
		.swiper-wrapper{
			display: grid;
			grid-template-columns: repeat(10, 1fr);
			column-gap: 20px;
		}
		.swiper-slide{grid-column: span 2; width: auto!important;}
	}

	.steps-slider-nav{
		display: none;
		font-family: var(--second-family);
		font-weight: 300;
		font-size: 30px;
		line-height: 100%;
		text-transform: uppercase;
		width: fit-content;
		position: relative;
		bottom: 60px;
		left: 20px;
		position: relative;
		z-index: 3;
		color: #b9b1a6;
		.steps-slider-pagination span{font-variant-numeric: tabular-nums;}
		@media (max-width: 1279px) {
			display: flex;
			align-items: center;
			column-gap:remy(20);
		}
		@media (max-width: 767px) {
			column-gap:20px;
		}
	}
}

.step-card__name{
	position: absolute;
	right: 20px;
	top: 20px;
}