.promo.promo-about
	.promo-bg-image.hide-sm(style="background-image: url(./img/about/about-big.webp) ")
	.promo-bg-image.visible-sm(style="background-image: url(./img/about/about-big-360.webp) ")
	
	.breadcrumbs-wrapper.breadcrumbs-white
		.container
			ul.breadcrumbs
				li
					a(href="index.html") Newlinedent
				li
					a(href="#!") О компании
	
	.container.pl-110
		.left-decore-line
			span.decore-line__top
			p о нашей клинике 
			span.decore-line__bottom
				svg.svg-arDown
					use(href='./img/sprite.svg#svg-arDown')
		
		
		.promo-about__content
			.promo-about__title
				h1.h1.txt-white.txt-upper  Стоматологическая #[span.gogol-text.txt-white клиника]  newlinedent
			
			.promo-about__description
				p Клиника #[strong Newlinedent] — это комфорт и качество. Наши специалисты используют современные технологии и уделяют внимание каждому пациенту, чтобы лечение проходило легко и без стресса.
				p Предоставляем широкий спектр услуг: от отбеливания до имплантации зубного ряда под ключ. Мы помогаем вам сохранить здоровье зубов и уверенность в своей улыбке на долгие годы.
		
		