//Мы в цифрах
section.about
	.container-special
		.left-decore-line
			p.txt-primary 03/07
			span.fake-line
			p О компании 
		
		h2.h2.visible-sm Мы на&nbsp;сегодняшний день в цифрах
		.about__content.flex-col
			.about-gallery
				.about-gallery__left
					img(src="./img/about/about.webp", srcset="./img/about/about@2x.webp 2x" width="1018" height="425" loading="lazy" alt="img")
				
				.about-gallery__right.flex-col
					h2.h2.hide-sm Мы на&nbsp;сегодняшний день в цифрах
					
					.about-gallery__box.flex
						img(src="./img/about/about-card1.webp", srcset="./img/about/about-card1@2x.webp 2x" width="235" height="220"  loading="lazy" alt="img")
						img(src="./img/about/about-card2.webp", srcset="./img/about/about-card2@2x.webp 2x" width="235" height="220"  loading="lazy" alt="img")
			
			include ../blocks/_statistic-block.pug

