.promo-contacts
	.container
		.breadcrumbs-wrapper
			ul.breadcrumbs
				li
					a(href="index.html") Newlinedent
				li
					a(href="#!") Контакты
	
	
	.container
		.promo-contacts-grid
			.promo-contacts-text
				.h2 Контакты
				p.subtext Ответим на звонок ежедневно с 9:00 до 21:00 (Москва - GTM+3)
				.contacts-links.flex-col
					a(href="tel:+79999999999").contact-link +7 (999) 999-99-99
					
					a(href="tel:+79999999999").contact-link +7 (999) 999-99-99
						

			.promo-contacts-image