//CTA
section.cta
	.cta-bg-img
		img(src='./img/rotate/line.svg'  loading='lazy' alt='img')
	.container
		.cta-content
			.cta-top-txt
				.cta-text-big  " Мы#[br] создаем #[span.gogol-text улыбки]
			
			.cta-image-block
				.rotate-image.rotate-image1
					img(src='./img/rotate/2.webp' width='169' height='202' loading='lazy' alt='img')
				.rotate-image.rotate-image2
					img(src='./img/rotate/1.webp' width='169' height='202' loading='lazy' alt='img')
				.rotate-image.rotate-image3
					img(src='./img/rotate/3.webp' width='169' height='202' loading='lazy' alt='img')
			
			.cta-bottom-txt
				.cta-text-big.flex которые меняют
				.cta-text-big #[span.gogol-text жизни] людей "
					