//CTA
section.cta
	.cta-bg-img
		img.hide-sm(src='./img/rotate/line2.svg'  width="1920" height="543"  loading='lazy' alt='img')
		img.visible-sm(src='./img/rotate/line-mobile.svg'  width="914" height="366" loading='lazy' alt='img')
	.container
		.cta-content
			.siple-txt-top
				p Заботясь о здоровье зубов наших пациентов, мы не просто лечим — мы возвращаем уверенность и&nbsp;улыбки в их жизни.
			
			.cta-top.cta-big-txt
				p #[span.quote-dark] Мы#[br.hide-sm] создаем #[br.visible-sm] #[span.gogol-text улыбки]
				.rotate-image.rotate-image1
					img(src='./img/rotate/2.webp' width='234' height='261' loading='lazy' alt='img')
					.flex
						span.img-caption виниры<br>что то там
			
			.cta-center.cta-big-txt
				.cta-text-big
					p которые меняют
					.rotate-image.rotate-image3
						img(src='./img/rotate/3.webp' width='234' height='261' loading='lazy' alt='img')
						.flex
							span.img-caption виниры<br>что то там
				
			.cta-bottom.cta-big-txt
				p #[span.gogol-text жизни] людей #[span.quote-dark]
				.rotate-image.rotate-image2
					img(src='./img/rotate/1.webp' width='234' height='261' loading='lazy' alt='img')
					.flex
						span.img-caption виниры<br>что то там

			.siple-txt-bottom
				p  Каждый день — это новая возможность для нас сделать мир вокруг лучше!