section.faq
	.container-special
		.left-decore-line
			p.txt-primary 07/07
			span.fake-line
			p Вопрос / ответ 
		h2.title-36 Популярные вопросы
		//=====video acordion====
		.faq-acordion
			//=========acordion========
			.accordion-group
				//=======single item =====
				.accordion-header.open Что такое виниры?
				.accordion-body(style="display:block;")
					.accordion-body__content.flex
						.accordion-body__video
							a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-about").video-box
								img(src='./img/video/poster1.webp' width='566' height='317' loading='lazy' alt='img')
								span.btn-play-dark
							
						.accordion-body__text
							.title-26 Что такое виниры?
							p Любой наш пациент может поделиться опытом лечения зубов в нашей стоматологической клинике и оставить свой, честный отзыв на любом, независимом портале. Если вы еще не проходили лечение в нашей стоматологии, перейдите в любой сервис и почитайте отзывы о нас.
							p Любой наш пациент может поделиться опытом лечения зубов в нашей стоматологической клинике и оставить свой, честный отзыв на любом, независимом портале. Если вы еще не проходили лечение в нашей стоматологии, перейдите в любой сервис и почитайте отзывы о нас.
				
				//=======single item =====
				.accordion-header Что такое синус-лифтинг?
				.accordion-body
					.accordion-body__content.flex
						.accordion-body__video
							a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-about").video-box
								img(src='./img/video/poster1.webp' width='566' height='317' loading='lazy' alt='img')
								span.btn-play-dark
							
						.accordion-body__text
							.title-26 Что такое синус-лифтинг?
							p Любой наш пациент может поделиться опытом лечения зубов в нашей стоматологической клинике и оставить свой, честный отзыв на любом, независимом портале. Если вы еще не проходили лечение в нашей стоматологии, перейдите в любой сервис и почитайте отзывы о нас.
							p Любой наш пациент может поделиться опытом лечения зубов в нашей стоматологической клинике и оставить свой, честный отзыв на любом, независимом портале. Если вы еще не проходили лечение в нашей стоматологии, перейдите в любой сервис и почитайте отзывы о нас.

				//=======single item =====
				.accordion-header Что такое протезирование ALL-ON-4 и ALL-ON-6 ?
				.accordion-body
					.accordion-body__content.flex
						.accordion-body__video
							a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-about").video-box
								img(src='./img/video/poster1.webp' width='566' height='317' loading='lazy' alt='img')
								span.btn-play-dark
							
						.accordion-body__text
							.title-26 Что такое протезирование ALL-ON-4 и ALL-ON-6 ?
							p Любой наш пациент может поделиться опытом лечения зубов в нашей стоматологической клинике и оставить свой, честный отзыв на любом, независимом портале. Если вы еще не проходили лечение в нашей стоматологии, перейдите в любой сервис и почитайте отзывы о нас.
							p Любой наш пациент может поделиться опытом лечения зубов в нашей стоматологической клинике и оставить свой, честный отзыв на любом, независимом портале. Если вы еще не проходили лечение в нашей стоматологии, перейдите в любой сервис и почитайте отзывы о нас.
				
				//=======single item =====
				.accordion-header Что такое отбеливание зубов и какие бывают виды?
				.accordion-body
					.accordion-body__content.flex
						.accordion-body__video
							a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-about").video-box
								img(src='./img/video/poster1.webp' width='566' height='317' loading='lazy' alt='img')
								span.btn-play-dark
							
						.accordion-body__text
							.title-26 Что такое отбеливание зубов и какие бывают виды?
							p Любой наш пациент может поделиться опытом лечения зубов в нашей стоматологической клинике и оставить свой, честный отзыв на любом, независимом портале. Если вы еще не проходили лечение в нашей стоматологии, перейдите в любой сервис и почитайте отзывы о нас.
							p Любой наш пациент может поделиться опытом лечения зубов в нашей стоматологической клинике и оставить свой, честный отзыв на любом, независимом портале. Если вы еще не проходили лечение в нашей стоматологии, перейдите в любой сервис и почитайте отзывы о нас.
				
				//=======single item =====
				.accordion-header Что такое композитные виниры? 
				.accordion-body
					.accordion-body__content.flex
						.accordion-body__video
							a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-about").video-box
								img(src='./img/video/poster1.webp' width='566' height='317' loading='lazy' alt='img')
								span.btn-play-dark
							
						.accordion-body__text
							.title-26 Что такое композитные виниры? 
							p Любой наш пациент может поделиться опытом лечения зубов в нашей стоматологической клинике и оставить свой, честный отзыв на любом, независимом портале. Если вы еще не проходили лечение в нашей стоматологии, перейдите в любой сервис и почитайте отзывы о нас.
							p Любой наш пациент может поделиться опытом лечения зубов в нашей стоматологической клинике и оставить свой, честный отзыв на любом, независимом портале. Если вы еще не проходили лечение в нашей стоматологии, перейдите в любой сервис и почитайте отзывы о нас.
				
				//=======single item =====
				.accordion-header Что такое периодонтит(киста зуба) ?
				.accordion-body
					.accordion-body__content.flex
						.accordion-body__video
							a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-about").video-box
								img(src='./img/video/poster1.webp' width='566' height='317' loading='lazy' alt='img')
								span.btn-play-dark
							
						.accordion-body__text
							.title-26 Что такое периодонтит(киста зуба) ?
							p Любой наш пациент может поделиться опытом лечения зубов в нашей стоматологической клинике и оставить свой, честный отзыв на любом, независимом портале. Если вы еще не проходили лечение в нашей стоматологии, перейдите в любой сервис и почитайте отзывы о нас.
							p Любой наш пациент может поделиться опытом лечения зубов в нашей стоматологической клинике и оставить свой, честный отзыв на любом, независимом портале. Если вы еще не проходили лечение в нашей стоматологии, перейдите в любой сервис и почитайте отзывы о нас.
				
				//=======single item =====
				.accordion-header Что такое коронки?
				.accordion-body
					.accordion-body__content.flex
						.accordion-body__video
							a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-about").video-box
								img(src='./img/video/poster1.webp' width='566' height='317' loading='lazy' alt='img')
								span.btn-play-dark
							
						.accordion-body__text
							.title-26 Что такое коронки?
							p Любой наш пациент может поделиться опытом лечения зубов в нашей стоматологической клинике и оставить свой, честный отзыв на любом, независимом портале. Если вы еще не проходили лечение в нашей стоматологии, перейдите в любой сервис и почитайте отзывы о нас.
							p Любой наш пациент может поделиться опытом лечения зубов в нашей стоматологической клинике и оставить свой, честный отзыв на любом, независимом портале. Если вы еще не проходили лечение в нашей стоматологии, перейдите в любой сервис и почитайте отзывы о нас.