//FEDDBACK
section.feedback.feedback-bb
	.container
		.feedback__content.flex
			.feedback__txt
				p.txt-16 Оставьте заявку
				.title-22 Получите скидку на первое посещение и бесплатную консультацию.
				.social-block
					a(href="#!").social-link
						svg.svg-inst
							use(xlink:href='./img/brands.svg#instagram')
					a(href="#!").social-link
						svg.svg-wa
							use(xlink:href='./img/brands.svg#whatsapp')
					a(href="#!").social-link
						svg.svg-yout
							use(xlink:href='./img/brands.svg#youtube')

			.feedback__center
				.gogol-text всегда  #[span.smile-icon] на связи
			.feedback__form
				form.contact-form.flex-col
					
					.form-item
						span.fake-placeholder Имя
						input.form-input(type="text" name="name")
					.form-item
						span.fake-placeholder Телефон
						input.form-input(type="tel" name="phone")
					.form-btn.flex
						//что бы кнопка стала не активной, надо добавиь атрибут disabled
						button.btn-primary(type="submit")
							span Оставить заявку 
							svg.svg-rarr
								use(href='./img/sprite.svg#svg-rarr')
						p.agree-txt Нажимая на кнопку «Отправить», я даю согласие на&nbsp;обработку персональных данных
