footer.footer
	//TOP CONTENT
	.footer-top
		.container
			
			.footer-top__content.flex
				.footer-contacts.flex
					
					a(href="#!").logo
						img(src='./img/footer-logo.webp', srcset='./img/footer-logo@2x.webp' width='110' height='103' loading='lazy' alt='img')

					.footer-address
						p г. Санкт-Петербург
						p ст.м. "Новочеркасская", ул. Стахановцев, д. 6
						p пн-вс: 9:00 — 21:00
					
					.footer-links.contacts-block
						a(href="tel:+79999999999").contact-link.flex
							.contact-link__icon
								img(src='./img/phone-solid.svg' width='24' height='24' loading='lazy' alt='img')
							span +7 (999) 999-99-99
						
						a(href="tel:+79999999999").contact-link.flex
							.contact-link__icon
								img(src='./img/phone-solid.svg' width='24' height='24' loading='lazy' alt='img')
							span +7 (999) 999-99-99
						
						a(href="mailto:nld-12@mail.ru").contact-link.flex
							.contact-link__icon
								img(src='./img/envelope-solid.svg' width='24' height='24' loading='lazy' alt='img')
							span nld-12@mail.ru

					.social-block
						a(href="#!").social-link
							svg.svg-inst
								use(xlink:href='./img/brands.svg#instagram')
						a(href="#!").social-link
							svg.svg-wa
								use(xlink:href='./img/brands.svg#whatsapp')
						a(href="#!").social-link
							svg.svg-tg
								use(xlink:href='./img/brands.svg#telegram')
						a(href="#!").social-link
							svg.svg-fb
								use(xlink:href='./img/brands.svg#facebook')
						a(href="#!").social-link
							svg.svg-be
								use(xlink:href='./img/brands.svg#behance')

					.footer-btn
						button.btn.sm-100(type="button") Записаться на консультацию

				//MAP
				.footer-map
					.map
						iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A13e02d731c04b56220a2a064d1fa54db38ac5402f907fd4bdf75e632a107fa8e&amp;source=constructor" width="100%" height="100%" frameborder="0")

	//FOOTER NAVs
	.footer-menus
		.container
			.footer-menus__content
				//MENU LIST
				nav.footer-nav.footer-nav--big
					.footer-nav__title Лечение
					ul.footer-nav__list
						li
							a(href="therapy.html") Диагностика
						li
							a(href="orthopedics.html") Терапия
						li
							a(href="implantation.html") Имплантология
						li
							a(href="3d.html") Несъемное протезирование
						li
							a(href="hygiene.html") Эстетическая стоматология
						li
							a(href="whitening.html") Отбеливание зубов
						li
							a(href="surgery.html") Ортодонтия
						li
							a(href="surgery.html") Хирургия
						li
							a(href="orthopedics.html") Ортопедия
						li
							a(href="3d.html") Съемное протезирование
						li
							a(href="hygiene.html") Профилактика и гигиена
				//MENU LIST
				nav.footer-nav
					.footer-nav__title О нас 
					ul.footer-nav__list
						li
							a(href="about.html") о клинике
						li
							a(href="doctors.html") наши врачи
						li
							a(href="before_after.html") до / после 
						li
							a(href="review.html") Отзывы
						li
							a(href="blog.html") блог
						li
							a(href="contacts.html") Контакты контакты 
						
	//FOOTER-BOTTOM
	.footer-bottom
		.container
			.footer-bottom__content.flex
				p.copyright-txt &copy;2025 NEWLINENT
				.politic-link
					a(href="#!") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
				.savov-link
					a(href="savov.ru").savov-link ДЕЗАЙН БЮРО – SAVOV