//HEADER
header.header.header--primary
	.container
		.header-content.flex
			a(href="index.html").logo
				svg.svg-logo
					use(href='./img/sprite.svg#svg-logo')
			.header-nav-wrapper.flex#header-menu
				//LOGO для моб версии
				.header-nav-logo.flex
					a(href="index.html").logo
						svg.svg-logo
							use(href='./img/sprite.svg#svg-logo')
				
				.header-nav-scroll.flex
					//MENU
					ul.header-menu.flex
						li
							a(href="service-page.html") Услуги и цены
						li
							a(href="#!") до / после
						li
							a(href="#!") наши врачи
						li
							a(href="review.html") Отзывы 
						li
							a(href="about.html") о нас
						li
							a(href="#!") Контакты
						
					
					
					.address-block
						.address-block__metro
							svg.svg-metro
								use(href='./img/sprite.svg#svg-metro')
							p Новочеркасская
						.address-block__info
							p ул. Стахановцев, д. 6
							p пн-вс: 9:00 — 21:00
						
					.header-contacts.flex
						a(href="#!").btn Позвонить
						
						.social-block
							a(href="#!").social-link
								img(src="./img/social/inst2.svg", width="24" height="24" alt="img")
							a(href="#!").social-link
								img(src="./img/social/wa.svg", width="24" height="24" alt="img")
							a(href="#!").social-link
								img(src="./img/social/youtube.svg", width="24" height="24" alt="img")
			
			
			//MOBILE MENU BURGER
			button(type="button").menu-toggle
				span

			