//HEADER
header.header
	.container.sm-100
		.header-content.flex
			a(href="index.html").logo
				svg.svg-logo
					use(href='./img/sprite.svg#svg-logo')
			.header-nav-wrapper.flex#header-menu
				//LOGO для моб версии
				.header-nav-logo.flex
					a(href="index.html").logo
						svg.svg-logoDark
							use(href='./img/sprite.svg#svg-logoDark')
				
				.header-nav-scroll.flex
					//MENU
					ul.header-menu.flex
						li
							a(href="service-page.html") Услуги и цены
						li
							a(href="before_after.html") до / после
						li
							a(href="doctors.html") наши врачи
						li
							a(href="review.html") Отзывы 
						li
							a(href="about.html") о нас
						li
							a(href="contacts.html") Контакты
						
					
					.address-block
						.address-block__metro
							svg.svg-metro
								use(href='./img/sprite.svg#svg-metro')
							p Новочеркасская
						.address-block__info
							p ул. Стахановцев, д. 6
							p пн-вс: 9:00 — 21:00
						
					.header-contacts.flex
						a(href="tel:+79999999999").btn Позвонить
						
						.social-block
							a(href="#!").social-link
								svg.svg-inst
									use(xlink:href='./img/brands.svg#instagram')
							a(href="#!").social-link
								svg.svg-wa
									use(xlink:href='./img/brands.svg#whatsapp')
							a(href="#!").social-link
								svg.svg-tg
									use(xlink:href='./img/brands.svg#telegram')
			
			
			//MOBILE MENU BURGER
			button(type="button").menu-toggle
				span

			