//TEAM
section.team
	.container-special
		.header-block
			h2.h2 Для вас работают опытные профессионалы
			a(href="#!").btn-primary 
				span Все врачи
				svg.svg-rarr
					use(href='../img/sprite.svg#svg-rarr')
		
		.team-preview
			//LEFT COLUMN
			.team-preview__col
				.blockquote-box
					p Заботясь о здоровье зубов наших пациентов, мы не просто лечим — мы возвращаем уверенность и улыбки в их жизни. Каждый день — это новая возможность сделать мир вокруг лучше!
						span.quote-left
						span.quote-right
					.blockquote-box__bottom
					
					.blockquote-faximily
						span New
				
				.persone-card-block
					.persone-card__title  РОМАН ВРУЙРОВИЧ ВАРДАНЯН
					.persone-card__info
						p Основатель клиники
						p Стоматолог - хирург, имплантолог, пародонтолог 
					a(href="#!").flex-link
						span Подробнее
						svg.svg-rarr
							use(href='./img/sprite.svg#svg-rarr')
			
			//RIGHT COLUMN
			.team-preview__video
				.team-preview__video-poster
					img(src="./img/team/big-img.webp", srcset="./img/team/big-img@2x.webp 2x"  width="582" height="705" alt="img")
				
				a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-about").team-preview__video-btn.visible-desk
					p посмотреть видео с врачом
					span.btn-play
			
			a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT"  data-fancybox="video-about").team-preview__video-btn.visible-mob
				p видео с врачом
				span.btn-play
						
		//карточки темы
		.teams-cards.swiper
			.swiper-wrapper
				.swiper-slide.persone-card
					//card
					.persone-card__img
						img.cover-img(src="./img/team/1.webp", srcset="./img/team/1@2x.webp"  width="281" height='187' alt="img")
					.persone-card-block
						.persone-card__title  РОМАН ВРУЙРОВИЧ ВАРДАНЯН
						.persone-card__info
							p Основатель клиники
							p Стоматолог - хирург, имплантолог, пародонтолог
				.swiper-slide.persone-card
					//card
					.persone-card__img
						img.cover-img(src="./img/team/2.webp", srcset="./img/team/2@2x.webp"  width="281" height='187' alt="img")
					.persone-card-block
						.persone-card__title  РОМАН ВРУЙРОВИЧ ВАРДАНЯН
						.persone-card__info
							p Основатель клиники
							p Стоматолог - хирург, имплантолог, пародонтолог 
				
				.swiper-slide.persone-card
					//card
					.persone-card__img
						img.cover-img(src="./img/team/3.webp", srcset="./img/team/3@2x.webp"  width="281" height='187' alt="img")
					.persone-card-block
						.persone-card__title  РОМАН ВРУЙРОВИЧ ВАРДАНЯН
						.persone-card__info
							p Основатель клиники
							p Стоматолог - хирург, имплантолог, пародонтолог 
							
				.swiper-slide.persone-card
					//card
					.persone-card__img
						img.cover-img(src="./img/team/4.webp", srcset="./img/team/4@2x.webp"  width="281" height='187' alt="img")
					.persone-card-block
						.persone-card__title  РОМАН ВРУЙРОВИЧ ВАРДАНЯН
						.persone-card__info
							p Основатель клиники
							p Стоматолог - хирург, имплантолог, пародонтолог 
				
				.swiper-slide.persone-card
					//card
					.persone-card__img
						img.cover-img(src="./img/team/5.webp", srcset="./img/team/5@2x.webp"  width="281" height='187' alt="img")
					.persone-card-block
						.persone-card__title  РОМАН ВРУЙРОВИЧ ВАРДАНЯН
						.persone-card__info
							p Основатель клиники
							p Стоматолог - хирург, имплантолог, пародонтолог 
					