.promo
	.promo-top
		.container.pl-40
			.left-decore
				p наши услуги
			.promo-title__content
				.promo-title__head
				
					h1.h1 Всё на 4-х (All-on-4)
					p.promo-subtitle Вся хирургическая часть с установкой имплантатов и мультиюнитов
			
				.promo-title__box.flex-col
					.price-block
						p.txt-24 Без скидки: #[span 150 000 ₽]
						p.h1 75 000&nbsp;&#8381;
					.promo-buttons.flex
						button.btn Записаться на консультацию
						button.btn-outline Узнать все цены
			
			
			.promo-img
				img(src="./img/img.webp", width="823" height="663" alt="img")
				
				span.decore-text-top улыбки
				span.decore-text-bottom жизни
	
	
	//bottom row
	.promo-bottom.flex
		.container
			.promo-bottom-content.flex
				ul.flex
					li цены под ключ
					li возможна росрочка
					li онлаин консультации
					li подарочные сертикаты
