@use "var" as *;


.btn,.btn-primary, .btn-outline,.btn-accent{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	padding-inline:35px;
	height: 52px;
	transition: .3s;
	
	column-gap:12px;
	white-space: nowrap;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 20px;
	.svg-rarr{color: white;}
	@media (max-width: 1919px) {
		height: remy(52);
		padding-inline:remy(35);
		font-size: remy(20);
	}
	@media (max-width: 1023px) {
		height: 32px;
	}
	@media (max-width: 767px) {
		font-size: 15px;
		height: 52px;
		padding-inline:35px;
	}
}
.btn-primary{
	border:1px solid #c7491f;
	background: #c7491f;color: #fff;
	&:hover{color: #fff;}
}

.btn{
	color:#c7491f;
	background-color: #fff;
	border:1px solid #fff;
	&:hover{color:#c7491f;}
}
.btn.btn--accent{
	border:1px solid #c7491f;
}
.btn-outline{
	border:1px solid currentColor;
	color: #fff;
	background-color: transparent;
	&:hover{color: #fff;}
}
.sm-100{
	@media (max-width: 767px) {
	 width: 100%;
	}
}
.btn-accent{
	background-color: #B9B1A6;
	color: #fff;
	&:hover{
		color: #fff;
		background-color: #aca396;
	}
}