@use "base/var" as *;
.form-item{
	position: relative;
	input, textarea{
		display: block;
		height: 52px;
		width: 100%;
		border: 1px solid #c2c2c2;
		border-radius: 24px;
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 16px;
		color: #2f2f2f;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 11px;
		line-height: 1;
		@media(min-width:768px) and (max-width: 1919px){
			height:remy(52);
			padding-left: remy(16);
		    padding-right: remy(16);
		    padding-top: remy(11);
			border-radius: remy(24);
		}
	}
	input:focus,textarea:focus{
		border: 1px solid #C71647;
		caret-color : #C71647;
	}
	input[disabled]{background-color: #f6f6f6!important;}
	.fake-placeholder{
		font-size: 14px;
		color: #616161;
		position: absolute;
		z-index: 2;
		position: absolute;
		left: 16px;
		top: 15px;
		transition: .3s;
		pointer-events: none;
		@media(min-width:768px) and (max-width: 1919px){
			font-size: remy(14); top:remy(15);
			left: remy(16);
		}
	}
	
	textarea{
		padding: 16px;
		padding-top: 24px;
		height: 150px;
		resize: none;
		
		@media(min-width:768px) and (max-width: 1919px){height: remy(150);
			padding: remy(16);
			padding-top: remy(24);
		}
		@media (max-width: 767px) {
		height: 87px;
		}
	}
}
.form-item.input-focus{
	.fake-placeholder{
		top:4px;
		font-size: 12px;
		@media(min-width:768px) and (max-width: 1919px){font-size: remy(12); top:remy(4)}
	}
}

.form-item.input-success{
	input{
		border: 1px solid #24c276;
		background-color: #f2faf1;
	}
	.fake-placeholder{color: #24c276;}
	input +p{
		font-size: 14px;
		color: #24c276; 
		margin-top: 5px;
		padding-left: 16px;
		@media(min-width:768px) and (max-width: 1919px){font-size: remy(14); margin-top: remy(5);padding-left: remy(16);}
	}
}
.form-item.input-success:after,.form-item.input-error:after{
	content: '';
	width: 20px;
	height: 20px;
	display: block;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	background-color: #ffe2e2;
	border:1px solid currentColor ;
	position: absolute;
	right: -5px; 
	top: -15px;
	@media(min-width:768px) and (max-width: 1919px){
		width: remy(20);
	   height: remy(20);
	   font-size: remy(14);
	   right: remy(-5); 
	   top: remy(-15);
	}
	
}
.form-item.input-success:after{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.9346 0.903017L4.40349 7.94724C4.18445 8.18349 3.81537 8.19744 3.57912 7.9784C3.56218 7.96269 3.54618 7.94598 3.53121 7.92837L1.08241 5.04667C0.873789 4.80118 0.505654 4.77128 0.260156 4.9799C0.0146586 5.18852 -0.0152373 5.55665 0.193382 5.80215L2.64219 8.68385C2.68708 8.73668 2.73507 8.78679 2.78591 8.83393C3.49466 9.49104 4.60191 9.44919 5.25902 8.74045L11.7901 1.69623C12.0092 1.45998 11.9952 1.0909 11.759 0.871857C11.5227 0.652818 11.1536 0.666769 10.9346 0.903017Z' fill='%2324C276' /%3e%3c/svg%3e");color: #24C276;
	background-size: 10px 12px;
	background-position: center;;
	background-color: #f2faf1;
	@media(min-width:768px) and (max-width: 1919px){background-size: remy(10) remy(12);}
}
.form-item.input-error:after{
	content: '!';
	color: #ee2121;
	border:1px solid currentColor ;
	background-color: #ffe2e2;
}
.form-item.input-error{
	input{
		border: 1px solid #EE2121;
		background-color: #ffe2e2;
	}
	.fake-placeholder{color: #EE2121;}
	input +p{font-size: 14px;
		color: #EE2121; margin-top: 5px;padding-left: 16px;
		@media(min-width:768px) and (max-width: 1919px){font-size: remy(14); margin-top: remy(5);padding-left: remy(16);}
	
	}
}
.form-btn{
	column-gap:25px;
	@media(min-width:768px) and (max-width: 1919px){column-gap:remy(25);}
	@media (max-width: 767px) {
	flex-direction: column;
	row-gap:22px;
	.agree-txt{text-align: center;}
	[type="submit"]{width: 100%;}
	}
}

.agree-txt{
	font-weight: 400;
	font-size: 12px;
	line-height: 117%;
	color: #2e3033;
	@media (max-width: 1919px) {
		font-size: remy(12);
	}
	@media (max-width: 767px) {
		font-size: 12px;
	}
}
form.flex-col{
	row-gap:16px;
	&>*{width: 100%;}
	@media(min-width:768px) and (max-width: 1919px){row-gap:remy(16);}
}
/*custom select*/
.dropdown {
	position: relative;
	width: 100%;
  }
  
  .dropdown__button {
	position: relative;
	display: block;
	width: 100%;
	border: 1px solid #b9b1a6;
	border-radius: 24px;
	padding: 16px 24px;
	height: 50px;
	text-align: left;
	color:inherit;
	cursor: pointer;
	font-weight: 400;
	font-size: 14px;
	color: #2e3033;
	z-index: 3;
	 @media (max-width: 1919px) {
		// padding: remy(16) remy(24);
		// height: remy(50);
	 }
	 @media (max-width: 767px) {
		border-radius: 24px;
		padding: 16px 24px;
		height: 50px;
	 }
  }
  
  .dropdown__button::after {
	content: "";
	position: absolute;
	top: 52%;
	right: 18px;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	display: block;
	// z-index: 2;
	
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.186392 1.34063L6.5502 7.70426C6.66949 7.82359 6.83138 7.89062 7.00015 7.89062C7.16895 7.89062 7.3308 7.82355 7.45014 7.70421L13.8136 1.34059C14.0621 1.09207 14.0621 0.689167 13.8136 0.440646C13.5651 0.192167 13.1622 0.192125 12.9137 0.440646L7.00015 6.35428L1.08634 0.440646C0.962076 0.316385 0.79921 0.254276 0.636343 0.254276C0.473476 0.254276 0.31061 0.316385 0.186349 0.440688C-0.06213 0.689209 -0.062129 1.09211 0.186392 1.34063Z' fill='%23B9B1A6' /%3e%3c/svg%3e");
	transition: .3s; 
	background-size: 16px 10px;
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
	
  }
  .dropdown__button.dropdown__button--active:after{
	transform: translateY(-50%) rotate(180deg);
  }
  
  .dropdown__list {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
	box-shadow: 1px 2px 8px 0 rgba(45, 109, 202, 0.2);
	background: #fff;
	border-radius: 5px;
	max-height: 150px;
	overflow: hidden;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #EAEAEA white;
	z-index: 3;
	font-weight: 400;
	font-size: 14px;
	color: #2f2f2f;
	&::-webkit-scrollbar{
		width: 3px;
		height: 20px;
		&-track{background-color: #fff;}
		&-thumb{background-color: #EAEAEA;}
 
	 }
	
	ul{
	  margin-block:10px; 
	  
	  overflow: hidden;
	  overflow-y: auto;
	  scrollbar-width: thin;
	  scrollbar-color: #e9e9e9 #fff;
	  scrollbar-width: 3px;
	   border-radius: 5px;
	  
	  &::-webkit-scrollbar-track {
		background-color:white;
		border-radius: 5px;
	  }
	}
	
 } 
  
  .dropdown__list--visible {
	display: block;
	
  }
  
  .dropdown__list-item {
	border-radius: 5px 5px 0 0;
	padding: 8px 16px;
	width: 100%;
	height: 33px;
	transition: .3s; 
	cursor: pointer;
	&:hover{
		background: #ffe8ee;
	}
	
  }
  
  .dropdown__input-hidden {
	display: none;
  }