@use "var" as *;
.svg-arDown, .svg-rarr, .svg-metro{
	display: inline-block;
	width: 12px;
	height: 190px;
	color: white;
	flex-shrink: 0;
	
}
.svg-arDown{
	@media (max-width: 1919px) {
	height: remy(150);
	}
}
.svg-rarr{
	width: 48px;
	height: 12px;color: $pr;
	@media(min-width:768px) and (max-width: 1919px) {width: remy(48);}
}
.svg-larr{
	width: 38px;
	height: 8px;
	color: #2E3033;
	@media(min-width:768px) and (max-width: 1919px) {width: remy(38);height: remy(8);}
}
.arrow-prev .svg-rarr{
	transform: rotate(180deg);
}
.arrow-prev, .arrow-next{
	height: 20px;
	width: 48px;
	display: flex;
	align-items: center;
	
}
.svg-logo, .svg-logoDark{
	width: 267px;
	height: 43px;
	display: inline-block;
	cursor:pointer;
	@media(min-width:768px) and (max-width: 1919px) {
		width: remy(267);
		height: remy(43);
	}
}
.header-nav-logo .svg-logo{
	color: #2E3033;
	width: 163px;
	height: 25px;
}
.svg-metro{
	width: 28px;
	height: 23px;
}
.quote-left{
	width: 39px;
	height: 33px;
	display: inline-block;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='39' height='33' viewBox='0 0 39 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M23.6395 0.000387798L38.5195 0.000389099L35.7595 32.4004L26.3995 32.4004L23.6395 0.000387798ZM12.1195 32.4004L2.75953 32.4004L-0.000466375 0.000385732L14.8795 0.000387032L12.1195 32.4004Z' fill='%23B9B1A6' /%3e%3c/svg%3e");
	@media (max-width: 1919px) {
		width: remy(39);
		height: remy(33);
	}
	@media (max-width: 767px) {
	width: 27px;
	height: 23px;
	}
}
.quote-right{
	width: 39px;
	height: 33px;
	display: inline-block;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='39' height='33' viewBox='0 0 39 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.88 32.4H0L2.76 0H12.12L14.88 32.4ZM26.4 0H35.76L38.52 32.4H23.64L26.4 0Z' fill='%23B9B1A6' /%3e%3c/svg%3e");
	background-size: contain;
	@media (max-width: 1919px) {
		width: remy(39);
		height: remy(33);
	}
	@media (max-width: 767px) {
	width: 27px;
	height: 23px;
	}
}
.quote-dark{
	width: 40px;
	height: 33px;
	display: inline-block;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='33' viewBox='0 0 40 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.14 0H39.02L36.26 32.4H26.9L24.14 0ZM15.38 0L12.62 32.4H3.26L0.5 0H15.38Z' fill='%232E3033' /%3e%3c/svg%3e");
	background-size: contain;
	@media (max-width: 1919px) {
		width: remy(40);
		height: remy(33);
	}
	@media (max-width: 767px) {
	width: 16px;
	height: 18px;
	}
}

.btn-play{
	width: 43px;
	height: 44px;
	display: block;
	background-image: url('../img/video/play.webp');
	background-size: contain;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	@media (min-width: 768px) and (max-width: 1919px) {
		width: remy(43);
	   height: remy(44);
	}
	@media (max-width: 767px) {
	width: 36px;
	height: 36px;
	}
}
.btn-play-dark{
	width: 80px;
	height: 80px;
	display: block;
	background-image: url('../img/video/play-dark.webp');
	background-size: contain;
	background-position: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	@media (min-width: 768px) and (max-width: 1919px) {
		width: remy(80);
	   height: remy(80);
	}
	@media (max-width: 767px) {
	width: 44px;
	height: 44px;
	}
}
.smile-icon{
	width: 50px;
	height: 38px;
	display: inline-block;
	flex-shrink: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='50' height='68' viewBox='0 0 50 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M43.5 2.45312L37.5 24.4531' stroke='%23C7491F' stroke-width='3' stroke-linecap='round' /%3e%3cpath d='M24.5 2.45312L18.5 24.4531' stroke='%23C7491F' stroke-width='3' stroke-linecap='round' /%3e%3cpath d='M1.5 39.9531C1.5 55.4531 19.5 86.9531 48.5 44.4531' stroke='%23C7491F' stroke-width='3' stroke-linecap='round' /%3e%3c/svg%3e");
}
.clock-icon{
	width: 24px;
	height: 24px;
	display: inline-flex;
	flex-grow: 0;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 3C7.03711 3 3 7.03711 3 12C3 16.9629 7.03711 21 12 21C16.9629 21 21 16.9629 21 12C21 7.03711 16.9629 3 12 3ZM12 4.5C16.1514 4.5 19.5 7.84863 19.5 12C19.5 16.1514 16.1514 19.5 12 19.5C7.84863 19.5 4.5 16.1514 4.5 12C4.5 7.84863 7.84863 4.5 12 4.5ZM11.25 6V12.75H16.5V11.25H12.75V6H11.25Z' fill='%232E3033' /%3e%3c/svg%3e");
}
.coins-icon{
	width: 24px;
	height: 24px;
	display: inline-flex;
	flex-grow: 0;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.75 3C14.4053 3 13.1865 3.25195 12.2344 3.72656C11.2822 4.20117 10.5 4.97461 10.5 6V9C10.5 9.09668 10.5322 9.19043 10.5469 9.28125C9.84961 9.09961 9.07617 9 8.25 9C6.90527 9 5.68652 9.25195 4.73438 9.72656C3.78223 10.2012 3 10.9746 3 12V18C3 19.0254 3.78223 19.7988 4.73438 20.2734C5.68652 20.748 6.90527 21 8.25 21C9.59473 21 10.8135 20.748 11.7656 20.2734C12.7178 19.7988 13.5 19.0254 13.5 18V17.6953C14.1885 17.877 14.9414 18 15.75 18C17.0947 18 18.3135 17.748 19.2656 17.2734C20.2178 16.7988 21 16.0254 21 15V6C21 4.97461 20.2178 4.20117 19.2656 3.72656C18.3135 3.25195 17.0947 3 15.75 3ZM15.75 4.5C16.8926 4.5 17.9092 4.74609 18.5859 5.08594C19.2627 5.42578 19.5 5.7832 19.5 6C19.5 6.2168 19.2627 6.57422 18.5859 6.91406C17.9092 7.25391 16.8926 7.5 15.75 7.5C14.6074 7.5 13.5908 7.25391 12.9141 6.91406C12.2373 6.57422 12 6.2168 12 6C12 5.7832 12.2373 5.42578 12.9141 5.08594C13.5908 4.74609 14.6074 4.5 15.75 4.5ZM12 8.13281C12.0791 8.17676 12.1523 8.23242 12.2344 8.27344C13.1865 8.74805 14.4053 9 15.75 9C17.0947 9 18.3135 8.74805 19.2656 8.27344C19.3477 8.23242 19.4209 8.17676 19.5 8.13281V9C19.5 9.2168 19.2627 9.57422 18.5859 9.91406C17.9092 10.2539 16.8926 10.5 15.75 10.5C14.6074 10.5 13.5908 10.2539 12.9141 9.91406C12.2373 9.57422 12 9.2168 12 9V8.13281ZM8.25 10.5C9.39258 10.5 10.4092 10.7461 11.0859 11.0859C11.7627 11.4258 12 11.7832 12 12C12 12.2168 11.7627 12.5742 11.0859 12.9141C10.4092 13.2539 9.39258 13.5 8.25 13.5C7.10742 13.5 6.09082 13.2539 5.41406 12.9141C4.7373 12.5742 4.5 12.2168 4.5 12C4.5 11.7832 4.7373 11.4258 5.41406 11.0859C6.09082 10.7461 7.10742 10.5 8.25 10.5ZM19.5 11.1328V12C19.5 12.2168 19.2627 12.5742 18.5859 12.9141C17.9092 13.2539 16.8926 13.5 15.75 13.5C14.8975 13.5 14.127 13.3594 13.5 13.1484V12C13.5 11.9033 13.4678 11.8096 13.4531 11.7188C14.1504 11.9004 14.9238 12 15.75 12C17.0947 12 18.3135 11.748 19.2656 11.2734C19.3477 11.2324 19.4209 11.1768 19.5 11.1328ZM4.5 14.1328C4.5791 14.1768 4.65234 14.2324 4.73438 14.2734C5.68652 14.748 6.90527 15 8.25 15C9.59473 15 10.8135 14.748 11.7656 14.2734C11.8477 14.2324 11.9209 14.1768 12 14.1328V15C12 15.2168 11.7627 15.5742 11.0859 15.9141C10.4092 16.2539 9.39258 16.5 8.25 16.5C7.10742 16.5 6.09082 16.2539 5.41406 15.9141C4.7373 15.5742 4.5 15.2168 4.5 15V14.1328ZM19.5 14.1328V15C19.5 15.2168 19.2627 15.5742 18.5859 15.9141C17.9092 16.2539 16.8926 16.5 15.75 16.5C14.8975 16.5 14.127 16.3799 13.5 16.1719V14.7188C14.1885 14.9004 14.9385 15 15.75 15C17.0947 15 18.3135 14.748 19.2656 14.2734C19.3477 14.2324 19.4209 14.1768 19.5 14.1328ZM4.5 17.1328C4.5791 17.1768 4.65234 17.2324 4.73438 17.2734C5.68652 17.748 6.90527 18 8.25 18C9.59473 18 10.8135 17.748 11.7656 17.2734C11.8477 17.2324 11.9209 17.1768 12 17.1328V18C12 18.2168 11.7627 18.5742 11.0859 18.9141C10.4092 19.2539 9.39258 19.5 8.25 19.5C7.10742 19.5 6.09082 19.2539 5.41406 18.9141C4.7373 18.5742 4.5 18.2168 4.5 18V17.1328Z' fill='%232E3033' /%3e%3c/svg%3e");
	@media (max-width: 1919px) {
		width: remy(24);
		height: remy(24);
	}
	@media (max-width: 767px) {
		width: 24px;
		height: 24px;
	}
}
.clock-icon.disable, .coins-icon.disable{opacity: .3;}
.svg-play{
	width: 22px;
	height: 22px;
	color: #C7491F;
	display: inline-block;
	flex-shrink: 0;
	
}