@use "var" as *;
.svg-arDown, .svg-rarr, .svg-metro{
	display: inline-block;
	width: 12px;
	height: 190px;
	color: white;
	flex-shrink: 0;
}

.svg-rarr{
	width: 48px;
	height: 12px;
}
.svg-logo, .svg-logoDark{
	width: 267px;
	height: 43px;
	display: inline-block;
	cursor:pointer;
	@media(min-width:768px) and (max-width: 1919px) {
		width: remy(267);
		height: remy(43);
	}
}
.svg-metro{
	width: 28px;
	height: 23px;
}