@use "var" as *;
.svg-arDown, .svg-rarr, .svg-metro{
	display: inline-block;
	width: 12px;
	height: 190px;
	color: white;
	flex-shrink: 0;
	
}

.svg-rarr{
	width: 48px;
	height: 12px;color: $pr;
	@media(min-width:768px) and (max-width: 1919px) {width: remy(48);}
}
.arrow-prev .svg-rarr{
	transform: rotate(180deg);
}
.arrow-prev, .arrow-next{
	height: 20px;
	width: 48px;
	display: flex;
	align-items: center;
	
}
.svg-logo, .svg-logoDark{
	width: 267px;
	height: 43px;
	display: inline-block;
	cursor:pointer;
	@media(min-width:768px) and (max-width: 1919px) {
		width: remy(267);
		height: remy(43);
	}
}
.svg-metro{
	width: 28px;
	height: 23px;
}
.quote-left{
	width: 39px;
	height: 33px;
	display: inline-block;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='39' height='33' viewBox='0 0 39 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M23.6395 0.000387798L38.5195 0.000389099L35.7595 32.4004L26.3995 32.4004L23.6395 0.000387798ZM12.1195 32.4004L2.75953 32.4004L-0.000466375 0.000385732L14.8795 0.000387032L12.1195 32.4004Z' fill='%23B9B1A6' /%3e%3c/svg%3e");
}
.quote-right{
	width: 39px;
	height: 33px;
	display: inline-block;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='39' height='33' viewBox='0 0 39 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.88 32.4H0L2.76 0H12.12L14.88 32.4ZM26.4 0H35.76L38.52 32.4H23.64L26.4 0Z' fill='%23B9B1A6' /%3e%3c/svg%3e");
}


.btn-play{
	width: 44px;
	height: 44px;
	background-image: url('../img/video/play.webp');
	@media (min-width: 768px) and (max-width: 1919px) {
		width: remy(44);
	   height: remy(44);
	}
	@media (max-width: 767px) {
	width: 36px;
	height: 36px;
	}
}
.smile-icon{
	width: 50px;
	height: 38px;
	display: inline-block;
	flex-shrink: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='50' height='68' viewBox='0 0 50 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M43.5 2.45312L37.5 24.4531' stroke='%23C7491F' stroke-width='3' stroke-linecap='round' /%3e%3cpath d='M24.5 2.45312L18.5 24.4531' stroke='%23C7491F' stroke-width='3' stroke-linecap='round' /%3e%3cpath d='M1.5 39.9531C1.5 55.4531 19.5 86.9531 48.5 44.4531' stroke='%23C7491F' stroke-width='3' stroke-linecap='round' /%3e%3c/svg%3e");
}