
@use "var" as *;
.h1, h1, .h2, h2{
	font-family: var(--second-family);
	font-weight: 300;
	// font-weight: 700;
}
.h1, h1{
	font-size: 50px;
	line-height: 1.2;
	letter-spacing: -0.06em;
	font-weight: 300;
	&.txt-upper{text-transform: uppercase;}
	
	@media (max-width: 1919px) {
		font-size: remy(50);
	}
	@media (max-width: 767px) {
	font-size: 24px;
	}
	
}
.h2{
	
	font-size: 30px;
	line-height: 150%;
	color: #2e3033;
	font-weight: 700;
	@media (max-width: 1919px) {
		font-size: remy(30);
	}
	@media (max-width: 767px) {
	font-size: 20px;
	}
}
.title-36{
	font-family: var(--second-family);
	font-weight: 300;
	font-size: 36px;
	line-height: 125%;
	font-weight: 700;
	color: #2e3033;
	@media (max-width: 1919px) {
		font-size: remy(36);
	}
	@media (max-width: 767px) {
	  font-size: 20px;
	  line-height: 1.4;
	}
}
.txt-24{
	font-weight: 400;
	font-size: 24px;
	line-height: 108%;
	letter-spacing: -0.08em;
	@media (min-width: 768px) and (max-width: 1919px) {
		font-size: remy(24);
	}
}
.title-24{
	font-family: var(--second-family);
	font-weight: 300;
	font-size: 24px;
	line-height: 117%;
	color: #2e3033;
	@media (max-width: 1919px) {
		font-size: remy(24);
	}
	@media (max-width: 767px) {
		font-size: 17px;
		line-height: 111%;
		text-transform: uppercase;
	}
}
.title-26{
	font-family: var(--second-family);
	font-weight: 300;
	font-size: 26px;
	line-height: 123%;
	
	color: #2e3033;
	@media (max-width: 1919px) {
		font-size: remy(26);
	}
	@media (max-width: 767px) {
		font-size: 17px;
	}
}
.title-22{
	font-family: var(--second-family);
	font-weight: 300;
	font-size: 22px;
	line-height: 127%;
	color: #2e3033;
	@media (min-width: 768px) and (max-width: 1919px) {
		font-size: remy(22);
	}
	@media (max-width: 767px) {
		font-size:18px;
	}
}
.txt-16{
	font-weight: 300;
	font-size: 16px;
	color: #2e3033;
	@media (min-width: 768px) and (max-width: 1919px){font-size: remy(16);}
}
.txt-12{
	font-weight: 400;
	font-size: 12px;
	line-height: 133%;
	letter-spacing: -0.03em;
	
	color: #2e3033;
	@media (min-width: 768px) and (max-width: 1919px){font-size: remy(12);}
}
.gogol-text{
	font-family: var(--font4);
	font-weight: 400;
	font-size: 70px;
	line-height: 89%;
	margin-left: 5px;
	margin-right: 5px;
	color: #c7491f;

	@media (max-width: 1919px) {
		font-size: remy(70);
	}
	@media (max-width: 767px) {
		font-size: 70px;
	}
}
.txt-bold{font-weight: 700;}
.txt-white{
	color: white!important;
}
.txt-upper{
	text-transform: uppercase;
}
.txt-primary{
	color: #b9b1a6!important;
}
.header-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 20px;
	border-bottom: 0.67px solid #b9b1a6;
	@media(min-width: 768px)and (max-width: 1919px) {
		padding-block: remy(20);
	}
	@media (max-width: 767px) {
		padding-block: 20px;
	}
}
.header-col{
	padding-block: 40px;
	&>*+*{margin-top: 40px;}
	p{
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #2e3033;
		max-width: 980px;
	}
	@media (max-width: 1919px) {
		padding-block: remy(40);
		&>*+*{margin-top: remy(40);}
		p{
			font-size: remy(16);
		}
	}
	@media (max-width: 767px) {
		padding-block: 40px;
		padding-top: 20px;
	  &>*+*{margin-top: 40px;}
	  p{font-size: 16px;}
	}
}
.social-block{
	display: flex;
	align-items: center;
	gap:4px;
	flex-wrap: wrap;
	.social-link{
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: var(--font6);
		font-weight: 400;
		font-size: 13px;
		border: 1px solid #ABA096;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		text-align: center;
		color: #ABA096;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		flex-shrink: 0;
		padding: 6px;
		
	}
	
}
.social-block svg{
	width: 24px;
	height: 24px;
	fill: #ABA096;
}
.header.header--primary, .footer {
	.social-block .social-link{
		border-color: white;
	}
	.social-block svg{fill: white;}
}
.header .header-nav-wrapper {
	@media (max-width: 767px) {
		.social-block .social-link svg{fill:#aba096;}
	}
}
.pagination{
	align-items: center;
	display: flex;
	column-gap:20px;
	flex-shrink: 0;
    width: max-content;
	.pagination-item{
		display: flex;
		
		justify-content: center;
		align-items: center;
		font-size: 20px;
		font-weight: 600;
		line-height: 225%;
		color: #2e3033;
		column-gap:20px;
		cursor:pointer;
		transition: .3s; 
		&.pagination-active{color: #b9b1a6;}
		svg{width: 34px;color: #2e3033;}
	}
	.pagination-next, .pagination-prev{
		font-weight: 500;line-height: 110%;
	}
	.pagination-dot{
		span{
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #2e3033;
			flex-shrink: 0;
		}
	}
	@media(min-width:768px) and (max-width: 1919px){
		column-gap:remy(20);
		.pagination-item{
			font-size: remy(20);column-gap:remy(20); svg{width: remy(34);}
		}
		.pagination-dot{
			width: remy(8);
			height: remy(8);
		}
	}
	@media (max-width: 767px) {
		width: 100%;
		justify-content: space-between;
		.pagination-item{display: none;}
		.pagination-item.pagination-next, .pagination-item.pagination-prev{
			display: flex;
		}
	}
}