
@use "var" as *;
.h1, h1, .h2, h2{
	font-family: var(--second-family);
	font-weight: 300;
}
.h1, h1{
	font-size: 50px;
	line-height: 1.2;
	letter-spacing: -0.06em;
	text-transform: uppercase;
	@media (max-width: 1919px) {
		font-size: remy(50);
	}
	
}
.h2{
	
	font-size: 30px;
	line-height: 150%;
	color: #2e3033;
	@media (max-width: 1919px) {
		font-size: remy(30);
	}
}
.txt-white{
	color: white!important;
}
.header-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: remy(20);
	border-bottom: 0.67px solid #b9b1a6;
	
}
.social-block{
	display: flex;
	align-items: center;
	column-gap: 20px;
	@media (max-width: 1919px) {
		column-gap: remy(20);
	}
}
.social-link{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font6);
	font-weight: 400;
	font-size: 13px;
	border: 1px solid #fff;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	flex-shrink: 0;
	@media (max-width: 1919px) {
		width: remy(32);
		height: remy(32);
	}
}
.address-block{
	padding: 15px 30px;
	background: #aba096;
	color: white;
	border: 1px solid #aba096;
	p{
		font-weight: 500;
		font-size: 14px;
		
		color: #fff;
	}
	&__metro{
		display: flex;
		column-gap: 10px;
		align-items: center;
		font-size: 18px;
	}
	&__info{
		&>*+*{margin-top: 5px;}
	}
	&>*+*{margin-top: 10px;}
	display: none;
	@media (max-width: 767px) {
	  display: block;
	}
}