mixin doctorCrad(img, name,txt, num)
	//card
	.doctor-card
		//CARD LEFT
		.doctor-card__img
			img.cover-img(src='./img/team/'+img+'.webp', srcset='./img/team/'+img+'@2x.webp' width='400' height='550' loading='lazy' alt='img')
		//CARD CENTER
		.doctor-card__profile
			.doctor-card__profile-group
				.doctor-card__title
					.title-26 !{name}
					ul.doctor-card__list
						li
							span Должность:
							p #{txt}
						li
							span Стаж
							p #{num} лет
					.accordion-group
						.accordion-header
							p Свидетельство об аккредитации:
						.accordion-body
							p №103724 142571
							p Стоматология хирургическая. Действителен до 04.07.27
				
				.doctor-card__info
					.title-20 О враче
					block
			
			
			//CARD RIGHT
			.doctor-card__profile-group
				.doctor-card__schedule.flex-col
					.schedule-block.accordion-group
						.accordion-header
							.title-20 График работы
						.accordion-body
							ul.schedule-time.flex
								li.schedule-time-item
									span.schedule-day Пн
									span.schedule-interval 10-22
								li.schedule-time-item
									span.schedule-day Вт
									span.schedule-interval 10-22
								li.schedule-time-item.off-working
									span.schedule-day Ср
									span.schedule-interval
								li.schedule-time-item
									span.schedule-day Чт
									span.schedule-interval 10-22
								li.schedule-time-item.off-working
									span.schedule-day Пт
									span.schedule-interval
								li.schedule-time-item.short-day
									span.schedule-day Сб
									span.schedule-interval 10-14
								li.schedule-time-item.short-day
									span.schedule-day Вс
									span.schedule-interval 14-16

					button(type="button").btn.btn--accent-slim Записаться на прием

				//BUTTONS
				.doctor-card__buttons.flex
					a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT"  data-fancybox="video-doctor")
						.text-btn.btn--accent
							span Знакомство с врачом
							svg.svg-play
								use(href='./img/sprite.svg#svg-play')
					
					a(href="https://prodoctorov.ru/").btn-primary.pro-doct-btn
						span ПроДокторов
						img(src='./img/icons/pro-doct.webp'  width='24' height='24' loading='lazy' alt='img')

section.doctors.pb-110
	.container
		.filters-group.flex
			//filter item
			.dropdown.filter-dropdown.hide-sm
				button.dropdown__button(type="button") График работы
				
				.dropdown__list
					ul
						li.dropdown__list-item(data-value="Текст1") Текст 1
						li.dropdown__list-item(data-value="Текст2") Текст 2
						li.dropdown__list-item(data-value="Текст3") Текст 3
						li.dropdown__list-item(data-value="Текст4") Текст 4

				//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
				input.dropdown__input-hidden(type="hidden", name="")
			
			//filter item
			.dropdown.filter-dropdown
				button.dropdown__button(type="button") Поиск по направлениям
				
				.dropdown__list
					ul
						li.dropdown__list-item(data-value="Текст1") Текст 1
						li.dropdown__list-item(data-value="Текст2") Текст 2
						li.dropdown__list-item(data-value="Текст3") Текст 3
						li.dropdown__list-item(data-value="Текст4") Текст 4

				//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
				input.dropdown__input-hidden(type="hidden", name="")
		
		.doctors-wrapper
			//card
			.doctor-card
				//CARD LEFT
				.doctor-card__img
					img.cover-img(src='./img/team/big-img.webp', srcset='./img/team/big-img@2x.webp' width='400' height='550' loading='lazy' alt='img')
				//CARD CENTER
				.doctor-card__profile
					.doctor-card__profile-group
						.doctor-card__title
							.title-26 Роман Вруйрович Варданян 
							ul.doctor-card__list
								li
									span Должность:
									p Стоматолог - хирург, имплантолог, пародонтолог
								li
									span Стаж
									p 7 лет
							.accordion-group
								.accordion-header
									p Свидетельство об аккредитации:
								.accordion-body
									p №103724 142571
									p Стоматология хирургическая. Действителен до 04.07.27
						
						.doctor-card__info
							.title-20 О враче
							p Постоянно обучается и идёт в ногу со временем. В своё время прошёл стажировки у ведущих специалистов в области дентальной имплантации, костной пластики, синус-лифтинга, пластике мягких тканей
							p Со своими пациентами всегда очень аккуратен и внимателен, даёт только проверенные и рабочие рекомендации. Сопровождает до конца периода реабилитации, а не только в момент операции. Всегда на связи
					
					
					//CARD RIGHT
					.doctor-card__profile-group
						.doctor-card__schedule.flex-col
							.schedule-block.accordion-group
								.accordion-header
									.title-20 График работы
								.accordion-body
									ul.schedule-time.flex
										li.schedule-time-item
											span.schedule-day Пн
											span.schedule-interval 10-22
										li.schedule-time-item
											span.schedule-day Вт
											span.schedule-interval 10-22
										li.schedule-time-item.off-working
											span.schedule-day Ср
											span.schedule-interval
										li.schedule-time-item
											span.schedule-day Чт
											span.schedule-interval 10-22
										li.schedule-time-item.off-working
											span.schedule-day Пт
											span.schedule-interval
										li.schedule-time-item.short-day
											span.schedule-day Сб
											span.schedule-interval 10-14
										li.schedule-time-item.short-day
											span.schedule-day Вс
											span.schedule-interval 14-16

							button(type="button").btn.btn--accent-slim Записаться на прием

						//BUTTONS
						.doctor-card__buttons.flex
							a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT"  data-fancybox="video-doctor")
								.text-btn.btn--accent
									span Знакомство с врачом
									svg.svg-play
										use(href='./img/sprite.svg#svg-play')
							
							a(href="https://prodoctorov.ru/").btn-primary.pro-doct-btn
								span ПроДокторов
								img(src='./img/icons/pro-doct.webp'  width='24' height='24' loading='lazy' alt='img')
			//Card
			+doctorCrad(5,'Лейла Ахмедовна Бейноева','Стоматолог – терапевт, эндодонтист', 3)
				ul
					li 
						p Образование:
						p Выпускница ПСПбгму им. акад. И. А. Павлова 2020 год Стоматологический факультет
					li 
						p Ординатура:
						p СЗГМУ им . И. И. Мечникова Кафедра стоматологии общей практики
			//Card
			+doctorCrad(2,'Чермен Олегович Дегоев','Стоматолог – терапевт, эндодонтист', 9)
				p Окончил «Северо-Осетинский государственный медицинский университет им. Коста Левановича Хетагурова» . Прошел профессиональную подготовку в Северо-Западном государственном медицинском университете имени И. И. Мечникова

		.feedback__content.flex
			.feedback__txt
				p.txt-16 Оставьте заявку
				.title-22 Получите скидку на первое посещение и бесплатную консультацию.
				.social-block
					a(href="#!").social-link
						svg.svg-inst
							use(xlink:href='./img/brands.svg#instagram')
					a(href="#!").social-link
						svg.svg-wa
							use(xlink:href='./img/brands.svg#whatsapp')
					a(href="#!").social-link
						svg.svg-tg
							use(xlink:href='./img/brands.svg#telegram')

			.feedback__center
				.gogol-text всегда  #[span.smile-icon] на связи
			.feedback__form
				form.contact-form.flex-col
					
					.form-item
						span.fake-placeholder Имя
						input.form-input(type="text" name="name")
					.form-item
						span.fake-placeholder Телефон
						input.form-input(type="tel" name="phone")
					.form-btn.flex
						button.btn-primary(type="submit")
							span Оставить заявку 
							svg.svg-rarr
								use(href='./img/sprite.svg#svg-rarr')
						p.agree-txt Нажимая на кнопку «Отправить», я даю согласие на обработку персональных данных

		.doctors-wrapper
			//Card
			+doctorCrad(5,'Лейла Ахмедовна Бейноева','Стоматолог – терапевт, эндодонтист', 3)
				ul
					li 
						p Образование:
						p Выпускница ПСПбгму им. акад. И. А. Павлова 2020 год Стоматологический факультет
					li 
						p Ординатура:
						p СЗГМУ им . И. И. Мечникова Кафедра стоматологии общей практики
			
			//Card
			+doctorCrad(2,'Чермен Олегович Дегоев','Стоматолог – терапевт, эндодонтист', 9)
				p Окончил «Северо-Осетинский государственный медицинский университет им. Коста Левановича Хетагурова» . Прошел профессиональную подготовку в Северо-Западном государственном медицинском университете имени И. И. Мечникова