.promo.promo-slim
	.breadcrumbs-wrapper
		.container
			ul.breadcrumbs
				li
					a(href="index.html") Newlinedent
				li
					a(href="#!") Команда
	
	.container
		.promo-title
			h1.title-36 Наши врачи
			.hide-sm
				p.txt-16 В нашей клинике работают опытные стоматологи, каждый из которых — эксперт в своей области. Мы заботимся о здоровье ваших зубов с вниманием и профессионализмом, предлагая индивидуальный подход к каждому пациенту. Ваша улыбка в надежных руках!