extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.main
		include ../sections/page-about/_promo.pug
		include ../sections/page-about/_about
		include ../sections/page-about/_clinic-slider
		include ../sections/_service-poppulare.pug
		
		include ../sections/page-about/_review-section
	//FOOTER
	include ../sections/_footer