extends ../layouts/layout.pug

block content
	include ../sections/_header-main-page
	main.main
		include ../sections/doctors/_promo.pug
		include ../sections/doctors/_content.pug
		include ../sections/_our-team.pug
		include ../sections/_cta.pug
		include ../sections/_about
		include ../sections/_steps
		include ../sections/_feedback
		include ../sections/_review-section
		include ../sections/_testimonial
		include ../sections/_faq
	
	//FOOTER
	include ../sections/_footer