extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.main
		include ../sections/doctors/_promo.pug
		include ../sections/doctors/_content.pug
	//FOOTER
	include ../sections/_footer

block variables
	-var title = "Наши специалисты";