extends ../layouts/layout.pug

block content
	include ../sections/_header-main-page
	main.main
		include ../sections/doctors/_promo.pug
		include ../sections/doctors/_content.pug
	//FOOTER
	include ../sections/_footer