extends ../layouts/layout.pug

block content
	.start-page(style="background: white;")
		h1 NewLineDent
		.start-page__cards
			a(href="./ui/colors.html") UI
			a(href="main.html") Главная
			a(href="service-page.html") Услуги
			
			a(href="review.html") Отзывы
			a(href="about.html") О компании
			a(href="blog.html") Блог
			a(href="single-article.html") Одна статья
			a(href="before_after.html") До/после
			a(href="doctors.html") Наши врачи
			a(href="implantation.html") Имплантация
			a(href="hygiene.html") Гигиена
			a(href="surgery.html") Хирургия
			a(href="orthopedics.html") Ортопедия
			a(href="protezirovanie.html") Протезирование
			a(href="whitening.html") Отбеливание
			a(href="3d.html") 3d томография
			a(href="therapy.html") Лечение кариеса
			a(href="contacts.html") Контакты

block variables
	-var title = "NewLineDent";
