extends ../layouts/layout.pug

block content
	.start-page(style="background: white;")
		h1 Pizza Mega Magic
		.start-page__cards
			a(href="./ui/colors.html") NewLineDent
			a(href="main.html") Главная
			a(href="service-page.html") Услуги

block variables
	-var title = "Pizza Mega Magic";
