extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.main
		include ../sections/_promo.pug
		include ../sections/_service-poppulare.pug
		include ../sections/_our-team.pug
		include ../sections/_about
		include ../sections/_steps
		include ../sections/_feedback
	
	
	//include ../sections/_footer