extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.main
		.container 
			.breadcrumbs-wrapper
				ul.breadcrumbs
					li
						a(href="#!") Newlinedent
					li
						a(href="#!") Блог
		include ../sections/review-page/_review-section
		include ../sections/review-page/_review-page-content
		
	//FOOTER
	include ../sections/_footer