extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.main
		.breadcrumbs-wrapper
			.container
				ul.breadcrumbs
					li
						a(href="index.html") Newlinedent
					li
						a(href="blog.html") Блог
		
		include ../sections/_service-page-content
		include ../sections/_feedback
		
	//FOOTER
	include ../sections/_footer

block variables
	-var title = "Услуги";