extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.main
		include ../sections/blog/_promo-blog-article.pug
		include ../sections/blog/_article-content.pug
		include ../sections/blog/_doctors.pug
		
	//FOOTER
	include ../sections/_footer

block variables
	-var title = "Одна статья";