include _mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		//=======убрать перевод цифр в номер телефона на ios  и safari ======
		meta(name="format-detection" content="telephone=no")
		
		//fancybox
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css')
		//Datapicker
		
		//Swiper
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css")
		//fonts
		
		//- link(rel='preconnect' href='https://fonts.googleapis.com')
		//- link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
		//- link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet')
		//========= custom styles ========
		link(rel="stylesheet"  href="./css/main.css")
		title !{title}
		
		//-style.

			!{customStyle}
	
	body(class=(bodyCl !=="" ? bodyCl : ''))


		
		block content
		
		//popUP FORM
		.popup-block(data-modal="feedback")
			.popup-block-content
				.header-nav-logo.flex
					a.logo(href='index.html')
						svg.svg-logo
							use(href='./img/sprite.svg#svg-logo')
				.popup-block-wrapper
					.popup-header
						.h2 Записаться на&nbsp;консультацию
						button.popup-close
							svg.svg-cross(data-close)
								use(href="./img/sprite.svg#svg-cross")
					.popup-body
						form.contact-form.flex-col(action="")
							.form-item
								span.fake-placeholder Имя
								input.form-input(type="text" name="name")
							.form-item
								span.fake-placeholder Телефон
								input.form-input(type="tel" name="phone")
							.form-item
								span.fake-placeholder Опишите ваш вопрос
								textarea.form-input( name="message")
							.form-btn.flex
								
								button.btn-primary(type="submit")
									span Отправить
									
								p.agree-txt Нажимая на кнопку «Отправить», я даю согласие на&nbsp;обработку персональных данных

		script(src="./libs/jquery/jquery-3.0.0.min.js")
		
		//Swiper
		script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")
		
		//fancy
		script(src='https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js')
		//=============== custom scripts ===================
		script(src="./js/main.js")