section.before-after
	.container
		.before-after__tabs
			.tabs-group
				.tabs-group__nav
					div(data-tbat="1") Text1
					
					div(data-tbat="2") Text 2
						
				
				.tabs-group__content
					
					//отображается при переключение свитча на положение Галоч
					.tabs-content.active(data-tcontent="1")
						p ghghghgh
					.tabs-content(data-tcontent="2")
						p sfsfsfsf