.promo.promo-inner.promo-inner--slim
	.breadcrumbs-wrapper.breadcrumbs-white
		.container
			ul.breadcrumbs
				li
					a(href="#!") Newlinedent
				li
					a(href="#!") до/после
	
	.container
		.promo-inner__grid.grid-two-column
			.promo-inner__title
				h1.h1 Фото работ:<br>до и после
				p Реальные результаты, которые вдохновляют
				a(href="#!").btn-primary
					span Записаться на прием 
					svg.svg-rarr
						use(href='../img/sprite.svg#svg-rarr')
			
			.promo-inner__right
				.rotate-img-group
					.rotate-image.rotate-image1
						img(src='./img/rotate/2.webp' width='234' height='261' loading='lazy' alt='img')
						span.img-logo
						span.img-caption виниры<br>что то там
					.rotate-image.rotate-image1
						img(src='./img/rotate/2.webp' width='234' height='261' loading='lazy' alt='img')
						span.img-logo
						span.img-caption.img-caption--name Мария 
					.rotate-image.rotate-image1
						img(src='./img/rotate/2.webp' width='234' height='261' loading='lazy' alt='img')
						span.img-logo
						span.img-caption.img-caption--name Любовь
		