//TESTIMONIAL
section.testimonial.pb-110
	.container
		.header-block
			h2.h2 Улыбки наших клиентов
			
		//В этом блоке есть карточки, которые отображаются по клику на кнопку Показать больше. Логика  реализована через скрипт. Родительский див должен иметь класс .has-hide-cards , содержать и скрытые карточки(наличие у таких карточек двух классов обязательно hide-card  и d-none )  и кнопку  с data-target="show-more"
		.has-hide-cards
			.review-cards
				//SINGLE CARD
				.testimonial-box
					.testimonial-card
						.testimonial-card__img
							img(src='./img/review/rev1.webp', srcset='./img/review/rev1@2x.webp 2x' width='455' height='314' loading='lazy' alt='img')
						.testimonial-card__body
							.testimonial-card__title
								p Вера Павловна Твердохлебова
								span Преподаватель музыки
							
							.testimonial-card__txt
								p Мне понравился главный врач стоматологии "Нью Лайн Дент", мне понравилось его отношения с&nbsp;молодыми коллегами к пациенту. Здесь мне решили проблемы, которые не&nbsp;смогли решить в другой стоматологии. В будущем я могу расчитывать на эту клинику. Именно того, что мне предложил Карен Овсепович мне никто не предлагал.
							
							.rating-block
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star.rating-star.disable
			
				//SINGLE CARD
				.testimonial-box
					.testimonial-card
						.testimonial-card__img
							img(src='./img/review/rev2.webp', srcset='./img/review/rev2@2x.webp 2x' width='455' height='314' loading='lazy' alt='img')
						.testimonial-card__body
							.testimonial-card__title
								p Бердников Максим
								span Генеральный директор OOO "Стройс+
							
							.testimonial-card__txt
								p Посетив стоматологию, главный врач Карен Овсепович быстро разобрался в ситуации, поменял полностью конструкцию импланта, который меня беспокоил. Уже несколько лет не знаю проблем с этим зубом. Теперь у меня лечится вся семья, дети, сотрудники и друзья. Очень профессиональный и заботливый подход.
							
							.rating-block
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star.rating-star.disable

				//SINGLE CARD
				.testimonial-box
					.testimonial-card
						.testimonial-card__img
							img(src='./img/review/rev3.webp', srcset='./img/review/rev3@2x.webp 2x' width='455' height='314' loading='lazy' alt='img')
						.testimonial-card__body
							.testimonial-card__title
								p Бердникова Лариса
								span Генеральный директор OOO "Стройс+
							
							.testimonial-card__txt
								p Я вспоминаю тот прекрасный момент, когда я впервые встретила Карена Овсеповича Даниеляна и он расположил меня с первой минуты. Самое главное, что он выслушал мою ключевую потребность и все мои страхи. Он выслушал это так, как-будто это единственная проблема в мире и она - моя!
							
							.rating-block
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star.rating-star.disable
				.testimonial-box
					.testimonial-card
						.testimonial-card__img
							img(src='./img/review/rev1.webp', srcset='./img/review/rev1@2x.webp 2x' width='455' height='314' loading='lazy' alt='img')
						.testimonial-card__body
							.testimonial-card__title
								p Вера Павловна Твердохлебова
								span Преподаватель музыки
							
							.testimonial-card__txt
								p Мне понравился главный врач стоматологии "Нью Лайн Дент", мне понравилось его отношения с&nbsp;молодыми коллегами к пациенту. Здесь мне решили проблемы, которые не&nbsp;смогли решить в другой стоматологии. В будущем я могу расчитывать на эту клинику. Именно того, что мне предложил Карен Овсепович мне никто не предлагал.
							
							.rating-block
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star.rating-star.disable
			
				//SINGLE CARD
				.testimonial-box
					.testimonial-card
						.testimonial-card__img
							img(src='./img/review/rev2.webp', srcset='./img/review/rev2@2x.webp 2x' width='455' height='314' loading='lazy' alt='img')
						.testimonial-card__body
							.testimonial-card__title
								p Бердников Максим
								span Генеральный директор OOO "Стройс+
							
							.testimonial-card__txt
								p Посетив стоматологию, главный врач Карен Овсепович быстро разобрался в ситуации, поменял полностью конструкцию импланта, который меня беспокоил. Уже несколько лет не знаю проблем с этим зубом. Теперь у меня лечится вся семья, дети, сотрудники и друзья. Очень профессиональный и заботливый подход.
							
							.rating-block
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star.rating-star.disable

				//SINGLE CARD
				.testimonial-box
					.testimonial-card
						.testimonial-card__img
							img(src='./img/review/rev3.webp', srcset='./img/review/rev3@2x.webp 2x' width='455' height='314' loading='lazy' alt='img')
						.testimonial-card__body
							.testimonial-card__title
								p Бердникова Лариса
								span Генеральный директор OOO "Стройс+
							
							.testimonial-card__txt
								p Я вспоминаю тот прекрасный момент, когда я впервые встретила Карена Овсеповича Даниеляна и он расположил меня с первой минуты. Самое главное, что он выслушал мою ключевую потребность и все мои страхи. Он выслушал это так, как-будто это единственная проблема в мире и она - моя!
							
							.rating-block
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star.rating-star.disable
				.testimonial-box.hide-card.d-none
					.testimonial-card
						.testimonial-card__img
							img(src='./img/review/rev3.webp', srcset='./img/review/rev3@2x.webp 2x' width='455' height='314' loading='lazy' alt='img')
						.testimonial-card__body
							.testimonial-card__title
								p Бердникова Лариса
								span Генеральный директор OOO "Стройс+
							
							.testimonial-card__txt
								p Я вспоминаю тот прекрасный момент, когда я впервые встретила Карена Овсеповича Даниеляна и он расположил меня с первой минуты. Самое главное, что он выслушал мою ключевую потребность и все мои страхи. Он выслушал это так, как-будто это единственная проблема в мире и она - моя!
							
							.rating-block
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star.rating-star.disable
				.testimonial-box.hide-card.d-none
					.testimonial-card
						.testimonial-card__img
							img(src='./img/review/rev3.webp', srcset='./img/review/rev3@2x.webp 2x' width='455' height='314' loading='lazy' alt='img')
						.testimonial-card__body
							.testimonial-card__title
								p Бердникова Лариса
								span Генеральный директор OOO "Стройс+
							
							.testimonial-card__txt
								p Я вспоминаю тот прекрасный момент, когда я впервые встретила Карена Овсеповича Даниеляна и он расположил меня с первой минуты. Самое главное, что он выслушал мою ключевую потребность и все мои страхи. Он выслушал это так, как-будто это единственная проблема в мире и она - моя!
							
							.rating-block
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star
								span.rating-star.rating-star.disable

			.visible-sm.show-more.btn
				button.btn-primary.sm-100(type="button" data-target="show-more") Показать больше 