//REVIEW
section.review.pt-sm-10
	.container-special
		.left-decore-line
			p.txt-primary 05/07
			span.fake-line
			p Отзывы клиентов
		
		.header-block
			h2.title-36 Отзывы
		
		.review__content.flex
			.review__content-txt
				.title-26 Только настоящие отзывы о&nbsp;нашей стоматологии
				.rotate-image
					img.cover-img(src='./img/rotate/4.webp'  width='320' height='354' loading='lazy' alt='img')
					.gogol-text
						p честные #[span.smile-icon] источники
			.review__content-links
				//single-item
				.review-box.flex
					.review-box__img
						img(src='./img/review/1.webp', srcset='./img/review/1@2x.webp 2x' width='204' height='26' loading='lazy' alt='img')
					.review-box__rating 5.0
					.review-box__link Читать отзывы
					.review-box__btn Написать отзыв
				//single-item
				.review-box.flex
					.review-box__img
						img(src='./img/review/2.webp', srcset='./img/review/2@2x.webp 2x' width='236' height='49' loading='lazy' alt='img')
					.review-box__rating 5.0
					.review-box__link Читать отзывы
					.review-box__btn Написать отзыв
				//single-item
				.review-box.flex
					.review-box__img
						img(src='./img/review/3.webp', srcset='./img/review/3@2x.webp 2x' width='135' height='44' loading='lazy' alt='img')
					.review-box__rating 5.0
					.review-box__link Читать отзывы
					.review-box__btn Написать отзыв
				//single-item
				.review-box.flex
					.review-box__img
						img(src='./img/review/4.webp', srcset='./img/review/4@2x.webp 2x' width='119' height='41' loading='lazy' alt='img')
					.review-box__rating 5.0
					.review-box__link Читать отзывы
					.review-box__btn Написать отзыв
				//single-item
				.review-box.flex
					.review-box__img
						img(src='./img/review/5.webp', srcset='./img/review/5@2x.webp 2x' width='199' height='46' loading='lazy' alt='img')
					.review-box__rating 5.0
					.review-box__link Читать отзывы
					.review-box__btn Написать отзыв
				//single-item
				.review-box.flex
					.review-box__img
						img(src='./img/review/6.webp', srcset='./img/review/6@2x.webp 2x' width='120' height='50' loading='lazy' alt='img')
					.review-box__rating 5.0
					.review-box__link Читать отзывы
					.review-box__btn Написать отзыв
